interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeDBInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-20'
    method: POST
    uri: https://cdb.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"Items":[{"AutoRenew":0,"CageId":"","CdbError":0,"Cpu":2,"CreateTime":"2022-10-17
        17:04:48","DeadlineTime":"0000-00-00 00:00:00","DeployGroupId":"","DeployMode":0,"DeviceClass":"","DeviceType":"UNIVERSAL","DiskType":"","DrInfo":[],"EngineType":"RocksDB","EngineVersion":"8.0","ExClusterId":"","ExClusterName":"","HourFeeStatus":1,"InitFlag":1,"InstanceId":"cdb-lbxusyi7","InstanceName":"cdb81905","InstanceNodes":2,"InstanceType":1,"IsolateTime":"0000-00-00
        00:00:00","MasterInfo":null,"MaxDelayTime":0,"Memory":4000,"OfflineTime":"","ParamVersionFlow":800030001,"PayType":1,"PhysicalId":"","ProjectId":0,"ProtectMode":0,"Qps":4400,"Region":"ap-singapore","RegionId":9,"ResourceId":"","RoGroups":[],"RoInstType":"","RoVipInfo":null,"SecurityGroupIds":[],"SlaveInfo":{"First":{"Region":"ap-singapore","Vip":"","VpcId":0,"Vport":0,"Zone":"ap-singapore-1"},"Second":null},"Status":1,"SubnetId":311924,"TagList":null,"TaskStatus":0,"UniqSubnetId":"subnet-1miim8ks","UniqVpcId":"vpc-3aajxqgr","Vip":"172.22.32.14","Volume":200,"VpcId":830620,"Vport":3306,"WanDomain":"","WanPort":0,"WanStatus":0,"Zone":"ap-singapore-1","ZoneId":900001,"ZoneName":""},{"AutoRenew":0,"CageId":"","CdbError":0,"Cpu":1,"CreateTime":"2022-10-17
        16:43:16","DeadlineTime":"0000-00-00 00:00:00","DeployGroupId":"","DeployMode":0,"DeviceClass":"","DeviceType":"UNIVERSAL","DiskType":"","DrInfo":[],"EngineType":"InnoDB","EngineVersion":"5.7","ExClusterId":"","ExClusterName":"","HourFeeStatus":1,"InitFlag":1,"InstanceId":"cdb-pufymj1h","InstanceName":"cdb81904","InstanceNodes":2,"InstanceType":1,"IsolateTime":"0000-00-00
        00:00:00","MasterInfo":null,"MaxDelayTime":0,"Memory":1000,"OfflineTime":"","ParamVersionFlow":570010001,"PayType":1,"PhysicalId":"","ProjectId":0,"ProtectMode":0,"Qps":1000,"Region":"ap-singapore","RegionId":9,"ResourceId":"","RoGroups":[],"RoInstType":"","RoVipInfo":null,"SecurityGroupIds":[],"SlaveInfo":{"First":{"Region":"ap-singapore","Vip":"","VpcId":0,"Vport":0,"Zone":"ap-singapore-1"},"Second":null},"Status":1,"SubnetId":311924,"TagList":null,"TaskStatus":0,"UniqSubnetId":"subnet-1miim8ks","UniqVpcId":"vpc-3aajxqgr","Vip":"172.22.32.4","Volume":200,"VpcId":830620,"Vport":3306,"WanDomain":"","WanPort":0,"WanStatus":0,"Zone":"ap-singapore-1","ZoneId":900001,"ZoneName":""}],"RequestId":"e9d6de7e-b5b4-4643-ba65-c3123ff36763","TotalCount":2}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cdb:ap-singapore:uin/100000750436:instanceId/cdb-lbxusyi7",
      "qcs::cdb:ap-singapore:uin/100000750436:instanceId/cdb-pufymj1h"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"5974f7d1-776d-4d5f-9892-a19f24d5c480"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"InstanceId": "cdb-lbxusyi7"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeBackups
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-20'
    method: POST
    uri: https://cdb.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"TotalCount":2,"Items":[{"Name":"cdb81905_backup_20221018000041.xb","IntranetUrl":"https:\/\/mysql-lifecycle-backup-c5k5vcoj4rna8g19u56g-1256569818.cos.ap-singapore.myqcloud.com\/1253831162%2Fmysql%2Fc3b109b6-4dfa-11ed-a255-b8cef6b719e5%2Fdata%2Fautomatic-delete%2F2022-10-18%2Fautomatic%2Fxtrabackup%2Fbk_304_104771361%2Fcdb-lbxusyi7_backup_20221018000041.xb?q-sign-algorithm=sha1&q-ak=AKIDZaLp2ye3B2btue7KGwNYS5QcXBYdT2JJ&q-sign-time=1666093185%3B1666136385&q-key-time=1666093185%3B1666136385&q-header-list=host&q-url-param-list=&q-signature=5418b724eafbaf60c3c8d176ebb9c9b23f34d894&response-content-disposition=attachment%3Bfilename%3D%22cdb81905_backup_20221018000041.xb%22&response-content-type=application%2Foctet-stream","InternetUrl":"https:\/\/mysql-lifecycle-backup-c5k5vcoj4rna8g19u56g-1256569818.cos.ap-singapore.myqcloud.com\/1253831162%2Fmysql%2Fc3b109b6-4dfa-11ed-a255-b8cef6b719e5%2Fdata%2Fautomatic-delete%2F2022-10-18%2Fautomatic%2Fxtrabackup%2Fbk_304_104771361%2Fcdb-lbxusyi7_backup_20221018000041.xb?q-sign-algorithm=sha1&q-ak=AKIDZaLp2ye3B2btue7KGwNYS5QcXBYdT2JJ&q-sign-time=1666093185%3B1666136385&q-key-time=1666093185%3B1666136385&q-header-list=host&q-url-param-list=&q-signature=5418b724eafbaf60c3c8d176ebb9c9b23f34d894&response-content-disposition=attachment%3Bfilename%3D%22cdb81905_backup_20221018000041.xb%22&response-content-type=application%2Foctet-stream","Type":"physical","Size":3160294,"Date":"2022-10-18
        00:00:43","StartTime":"2022-10-18 00:00:42","BackupId":104771361,"Status":"SUCCESS","FinishTime":"2022-10-18
        00:00:47","Creator":"SYSTEM","Method":"full","Way":"automatic","ManualBackupName":"","SaveMode":"save_mode_regular","Region":"ap-singapore","RemoteInfo":[],"CosStorageType":0,"InstanceId":"cdb-lbxusyi7","Url":"https:\/\/mysql-lifecycle-backup-c5k5vcoj4rna8g19u56g-1256569818.cos.ap-singapore.myqcloud.com\/1253831162%2Fmysql%2Fc3b109b6-4dfa-11ed-a255-b8cef6b719e5%2Fdata%2Fautomatic-delete%2F2022-10-18%2Fautomatic%2Fxtrabackup%2Fbk_304_104771361%2Fcdb-lbxusyi7_backup_20221018000041.xb?q-sign-algorithm=sha1&q-ak=AKIDZaLp2ye3B2btue7KGwNYS5QcXBYdT2JJ&q-sign-time=1666093185%3B1666136385&q-key-time=1666093185%3B1666136385&q-header-list=host&q-url-param-list=&q-signature=5418b724eafbaf60c3c8d176ebb9c9b23f34d894&response-content-disposition=attachment%3Bfilename%3D%22cdb81905_backup_20221018000041.xb%22&response-content-type=application%2Foctet-stream","Progress":0,"Deleted":0},{"Name":"cdb81905_backup_20221017170903.xb","IntranetUrl":"https:\/\/mysql-lifecycle-backup-c5k5vcoj4rna8g19u56g-1256569818.cos.ap-singapore.myqcloud.com\/1253831162%2Fmysql%2Fc3b109b6-4dfa-11ed-a255-b8cef6b719e5%2Fdata%2Fautomatic-delete%2F2022-10-17%2Fautomatic%2Fxtrabackup%2Fbk_304_104771349%2Fcdb-lbxusyi7_backup_20221017170903.xb?q-sign-algorithm=sha1&q-ak=AKIDZaLp2ye3B2btue7KGwNYS5QcXBYdT2JJ&q-sign-time=1666093185%3B1666136385&q-key-time=1666093185%3B1666136385&q-header-list=host&q-url-p[...]
[...]
