interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeDBInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-20'
    method: POST
    uri: https://cdb.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"Items": [{"AutoRenew": 0, "CageId": "", "CdbError":
        0, "Cpu": 4, "CreateTime": "2022-11-14 14:29:31", "DeadlineTime": "0000-00-00
        00:00:00", "DeployGroupId": "", "DeployMode": 0, "DeviceClass": "", "DeviceType":
        "UNIVERSAL", "DiskType": "", "DrInfo": [], "EngineType": "InnoDB", "EngineVersion":
        "8.0", "ExClusterId": "", "ExClusterName": "", "HourFeeStatus": 1, "InitFlag":
        1, "InstanceId": "cdb-lzvnrseb", "InstanceName": "cdb82546", "InstanceNodes":
        2, "InstanceType": 1, "IsolateTime": "0000-00-00 00:00:00", "MasterInfo":
        null, "MaxDelayTime": 0, "Memory": 8000, "OfflineTime": "", "ParamVersionFlow":
        800010001, "PayType": 1, "PhysicalId": "", "ProjectId": 0, "ProtectMode":
        0, "Qps": 7200, "Region": "ap-singapore", "RegionId": 9, "ResourceId": "",
        "RoGroups": [], "RoInstType": "", "RoVipInfo": null, "SecurityGroupIds": [],
        "SlaveInfo": {"First": {"Region": "ap-singapore", "Vip": "", "VpcId": 0, "Vport":
        0, "Zone": "ap-singapore-1"}, "Second": null}, "Status": 1, "SubnetId": 311924,
        "TagList": null, "TaskStatus": 0, "UniqSubnetId": "subnet-1miim8ks", "UniqVpcId":
        "vpc-3aajxqgr", "Vip": "172.22.32.2", "Volume": 25, "VpcId": 830620, "Vport":
        3306, "WanDomain": "", "WanPort": 0, "WanStatus": 0, "Zone": "ap-singapore-1",
        "ZoneId": 900001, "ZoneName": ""}], "RequestId": "8d41b7b5-8e69-4b2f-b02b-a4a874d7266c",
        "TotalCount": 1}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cdb:ap-singapore:uin/100000750436:instanceId/cdb-lzvnrseb"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"4b4342a0-a7fa-4d69-8f4a-b9b5d51f4c67"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"InstanceId": "cdb-lzvnrseb"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeBackups
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-20'
    method: POST
    uri: https://cdb.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"Items": [{"BackupId": 104869326, "CosStorageType": 0,
        "Creator": "SYSTEM", "Date": "2022-11-14 14:31:56", "Deleted": 0, "EncryptionFlag":
        "off", "FinishTime": "2022-11-14 14:32:01", "InstanceId": "cdb-lzvnrseb",
        "InternetUrl": "", "IntranetUrl": "", "ManualBackupName": "", "Method": "full",
        "Name": "cdb82546_backup_20221114143151.xb", "Progress": 0, "Region": "ap-singapore",
        "RemoteInfo": [], "SaveMode": "save_mode_regular", "Size": 3133712, "StartTime":
        "2022-11-14 14:31:51", "Status": "SUCCESS", "Type": "physical", "Url": "",
        "Way": "automatic"}], "RequestId": "d760ff4d-7206-468a-a221-9184eaeb9e91",
        "TotalCount": 1}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
