interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeTopics
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2020-10-16'
    method: POST
    uri: https://cls.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"Topics":[{"LogsetId":"f2fba44e-8e19-45cd-9c56-7f53b1f7cfb7","TopicId":"0880c72f-1d0a-4535-af99-786482e7e69d","TopicName":"eni-33qexc41-20221026165922","PartitionCount":1,"Index":false,"AssumerUin":0,"AssumerName":"","SubAssumerName":"","RoleName":"","CreateTime":"2022-10-26
        16:59:22","Status":true,"TopicModifyAcl":0,"TopicShowAcl":0,"Tags":[],"AutoSplit":true,"MaxSplitPartitions":50,"StorageType":"hot","Period":7,"SubUin":100000750436,"UserSample":"","UserSampleStatus":false,"LogsetInfo":{"LogsetId":"f2fba44e-8e19-45cd-9c56-7f53b1f7cfb7","LogsetName":"zzhli-cloudaudit-trace","CreateTime":"","AssumerUin":0,"AssumerName":"","LogsetModifyAcl":0,"LogsetShowAcl":0,"Tags":null,"Period":0,"TopicCount":12,"RoleName":"","LogsetDelACL":0},"Describes":"","WhitelistInfo":{"CloudQueryLanguage":false},"HotPeriod":0},{"LogsetId":"f2fba44e-8e19-45cd-9c56-7f53b1f7cfb7","TopicId":"e0696e8e-a134-42a9-bc18-4491f22eef00","TopicName":"eni-33qexc41-20221026165755","PartitionCount":1,"Index":false,"AssumerUin":0,"AssumerName":"","SubAssumerName":"","RoleName":"","CreateTime":"2022-10-26
        16:57:55","Status":true,"TopicModifyAcl":0,"TopicShowAcl":0,"Tags":[],"AutoSplit":true,"MaxSplitPartitions":50,"StorageType":"hot","Period":7,"SubUin":100000750436,"UserSample":"","UserSampleStatus":false,"LogsetInfo":{"Log[...]
- request:
    body: '{"Namespace": "QCE/CLS", "MetricName": "TrafficWrite", "Period": 3600,
      "StartTime": "2022-11-12T06:12:11+00:00", "EndTime": "2022-11-15T06:12:11+00:00",
      "Instances": [{"Dimensions": [{"Name": "uin", "Value": "100000750436"}, {"Name":
      "TopicId", "Value": "0880c72f-1d0a-4535-af99-786482e7e69d"}]}, {"Dimensions":
      [{"Name": "uin", "Value": "100000750436"}, {"Name": "TopicId", "Value": "e0696e8e-a134-42a9-bc18-4491f22eef00"}]},
      {"Dimensions": [{"Name": "uin", "Value": "100000750436"}, {"Name": "TopicId",
      "Value": "684a37bc-6cf2-43c2-8312-18ddc65bba0e"}]}, {"Dimensions": [{"Name":
      "uin", "Value": "100000750436"}, {"Name": "TopicId", "Value": "9798eba9-36e5-46de-a677-9fd5ae61[...]
