interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeTopics
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2020-10-16'
    method: POST
    uri: https://cls.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"Topics":[{"LogsetId":"f2fba44e-8e19-45cd-9c56-7f53b1f7cfb7","TopicId":"17d8c3c9-c736-4117-b0e9-96995568b573","TopicName":"custodian-test","PartitionCount":1,"Index":false,"AssumerUin":0,"AssumerName":"","SubAssumerName":"","RoleName":"","CreateTime":"2022-10-17
        17:36:52","Status":true,"TopicModifyAcl":0,"TopicShowAcl":0,"Tags":[{"Key":"test_pro_26","Value":"test_pro_26"},{"Key":"test_pro_00001","Value":"this
        is test"}],"AutoSplit":true,"MaxSplitPartitions":50,"StorageType":"hot","Period":3600,"SubUin":100000750436,"UserSample":"","UserSampleStatus":false,"LogsetInfo":{"LogsetId":"f2fba44e-8e19-45cd-9c56-7f53b1f7cfb7","LogsetName":"zzhli-cloudaudit-trace","CreateTime":"","AssumerUin":0,"AssumerName":"","LogsetModifyAcl":0,"LogsetShowAcl":0,"Tags":null,"Period":0,"TopicCount":2,"RoleName":"","LogsetDelACL":0},"Describes":"custodian-test","WhitelistInfo":{"CloudQueryLanguage":false},"HotPeriod":0},{"LogsetId":"f2fba44e-8e19-45cd-9c56-7f53b1f7cfb7","TopicId":"3cbe0793-0817-4674-a70c-77948ef4e2ca","TopicName":"cloudaudit","PartitionCount":1,"Index":true,"AssumerUin":0,"AssumerName":"","SubAssumerName":"","RoleName":"","CreateTime":"2022-06-21
        20:51:12","Status":true,"TopicModifyAcl":0,"TopicShowAcl":0,"Tags":[],"AutoSplit":true,"MaxSplitPartitions":50,"StorageType":"hot","Period":7,"SubUin":200022436235,"UserSample":"","UserSampleStatus":false,"LogsetInfo":{"LogsetId":"f2fba44e-8[...]
