argcomplete==2.0.0; python_version >= "3.6"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
boto3==1.22.12; python_version >= "3.6"
botocore==1.25.12; python_version >= "3.6"
docutils==0.17.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
importlib-metadata==4.11.3; python_version >= "3.7"
importlib-resources==5.7.1; python_version < "3.9" and python_version >= "3.7"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
jsonschema==4.5.1; python_version >= "3.7"
pyrsistent==0.18.1; python_version >= "3.7"
python-dateutil==2.8.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
pyyaml==6.0; python_version >= "3.6"
s3transfer==0.5.2; python_version >= "3.6"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
tabulate==0.8.9
typing-extensions==4.2.0; python_version == "3.7"
urllib3==1.26.9; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
zipp==3.8.0; python_version == "3.7"
