-r requirements.txt
coverage>=4.2
ElasticMock
fakeredis
flake8
ldap3
mock==2.0.0
nose-timer==0.7.0
nose==1.3.7
placebo==0.8.1
pytest-cov
pytest-xdist>=1.2.0
pytest>=3.2.1
redis
sphinx-rtd-theme==0.2.4
Sphinx>=1.4.6
tox
twine

# Local package required for Sphinx docs
-e tools/c7n_sphinxext
# Local package required for c7n_mailer tests
-e tools/c7n_mailer
# Local package required for c7n_dispatcher tests
-e tools/c7n_dispatcher

# requires pandoc, fails on ci server, only used for pypi metadata
# setuptools-markdown==0.2
