interactions:
- request:
    body: '{"DiskIds": ["disk-96jhcorq"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeDisks
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cbs.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "RequestId": "ba749adf-77ca-4ae3-bf7e-8563b41ec263",
        "DiskSet": [{"DeleteWithInstance": true, "RenewFlag": "", "LatestOperationState":
        "", "DiskType": "CLOUD_BSSD", "DiskBackupQuota": 0, "DiskState": "ATTACHED",
        "SnapshotCount": 0, "DiskBackupCount": 0, "AutoRenewFlagError": false, "Rollbacking":
        false, "InstanceIdList": ["ins-a4vgayks"], "Encrypt": false, "Tags": [{"Value":
        "test", "Key": "test"}, {"Value": "Augury", "Key": "JJ-Test"}, {"Value": "this
        is test1", "Key": "test_pro_test122"}, {"Value": "this is test", "Key": "test_pro_2"},
        {"Value": "this is test", "Key": "test_pro_4"}, {"Value": "this is test",
        "Key": "test_pro_1"}, {"Value": "this is test", "Key": "test_pro_3"}, {"Value":
        "this is test", "Key": "test_pro_5"}], "DiskName": "ins-riot-cvmtest_SYSTEM_DISK",
        "BackupDisk": false, "DeleteSnapshot": 0, "InstanceId": "ins-a4vgayks", "DifferDaysOfDeadline":
        null, "ThroughputPerformance": 0, "Migrating": false, "InstanceType": "CVM",
        "DiskId": "disk-96jhcorq", "LastAttachInsId": "ins-a4vgayks", "SnapshotSize":
        0, "Placement": {"CageId": "", "CdcId": "", "Zone": "ap-singapore-4", "ProjectName":
        "Default Project", "ProjectId": 0, "CdcName": "", "DedicatedClusterId": null},
        "IsReturnable": false, "DeadlineTime": "", "Attached": true, "ReturnFailCode":
        10, "DiskSize": 50, "MigratePercent": 0, "DiskUsage": "SYSTEM_DISK", "ErrorPrompt":
        "", "Portable": false, "DiskChargeType": "POSTPAID_BY_HOUR", "SnapshotAbility":
        true, "DeadlineError": false, "LatestOperationRequestId": "", "RollbackPercent":
        0, "AutoSnapshotPolicyIds": null, "LatestOperation": "", "Shareable": false,
        "CreateTime": "2022-08-30 14:24:09"}]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cbs:ap-singapore:uin/100000750436:instance/disk-96jhcorq"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cbs:ap-singapore:uin\/100000750436:instance\/disk-96jhcorq","Tags":[{"TagKey":"test_pro_24","TagValue":"test_pro_24"},{"TagKey":"test_pro_22","TagValue":"test_pro_22"},{"TagKey":"test_pro_23","TagValue":"test_pro_23"},{"TagKey":"test_pro_21","TagValue":"test_pro_21"},{"TagKey":"test_pro_19","TagValue":"test_pro_19"},{"TagKey":"test_pro_20","TagValue":"test_pro_20"},{"TagKey":"test_pro_test1","TagValue":"this
        is test1"},{"TagKey":"test_pro_18","TagValue":"test_pro_18"},{"TagKey":"test_pro_17","TagValue":"test_pro_17"},{"TagKey":"test_pro_16","TagValue":"test_pro_16"},{"TagKey":"test_pro_15[...]
[...]
- request:
    body: '{"Resource": "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-96jhcorq",
      "ReplaceTags": [{"TagKey": "test_pro_26", "TagValue": "test_pro_26"}, {"TagKey":
      "test_pro_25", "TagValue": "test_pro_25"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ModifyResourceTags
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"RequestId":"d1ea973b-1c1b-4879-8406-9bdc30a0fc37"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
