interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeDisks
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cbs.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 16, "RequestId": "ec09f598-1f70-46ab-92c3-872323fbe406",
        "DiskSet": [{"DeleteWithInstance": true, "RenewFlag": "", "LatestOperationState":
        "", "DiskType": "CLOUD_BSSD", "DiskBackupQuota": 0, "DiskState": "ATTACHED",
        "SnapshotCount": 0, "DiskBackupCount": 0, "AutoRenewFlagError": false, "Rollbacking":
        false, "InstanceIdList": ["ins-ot3c32zo"], "Encrypt": false, "Tags": [], "DiskName":
        "Unnamed_SYSTEM_DISK", "BackupDisk": false, "DeleteSnapshot": 0, "InstanceId":
        "ins-ot3c32zo", "DifferDaysOfDeadline": null, "ThroughputPerformance": 0,
        "Migrating": false, "InstanceType": "CVM", "DiskId": "disk-ej496uli", "LastAttachInsId":
        "ins-ot3c32zo", "SnapshotSize": 0, "Placement": {"CageId": "", "CdcId": "",
        "Zone": "ap-singapore-4", "ProjectName": "Default Project", "ProjectId": 0,
        "CdcName": "", "DedicatedClusterId": null}, "IsReturnable": false, "DeadlineTime":
        "", "Attached": true, "ReturnFailCode": 10, "DiskSize": 50, "MigratePercent":
        0, "DiskUsage": "SYSTEM_DISK", "ErrorPrompt": "", "Portable": false, "DiskChargeType":
        "POSTPAID_BY_HOUR", "SnapshotAbility": true, "DeadlineError": false, "LatestOperationRequestId":
        "", "RollbackPercent": 0, "AutoSnapshotPolicyIds": null, "LatestOperation":
        "", "Shareable": false, "CreateTime": "2022-11-11 15:47:48"}, {"DeleteWithInstance":
        true, "RenewFlag": "", "LatestOperationState": "", "DiskType": "CLOUD_BSSD",
        "DiskBackupQuota": 0, "DiskState": "ATTACHED", "SnapshotCount": 0, "DiskBackupCount":
        0, "AutoRenewFlagError": false, "Rollbacking": false, "InstanceIdList": ["ins-rr57sdsw"],
        "Encrypt": false, "Tags": [{"Value": "metro", "Key": "test_yankee"}], "DiskName":
        "Unnamed_SYSTEM_DISK", "BackupDisk": false, "DeleteSnapshot": 0, "InstanceId":
        "ins-rr57sdsw", "DifferDaysOfDeadline": null, "ThroughputPerformance": 0,
        "Migrating": false, "InstanceType": "CVM", "DiskId": "disk-hmpfao06", "LastAttachInsId":
        "ins-rr57sdsw", "SnapshotSize": 0, "Placement": {"CageId": "", "CdcId": "",
        "Zone": "ap-singapore-4", "ProjectName": "Default Project", "ProjectId": 0,
        "CdcName": "", "DedicatedClu[...]
- request:
    body: '{"ResourceList": ["qcs::cbs:ap-singapore:uin/100000750436:instance/disk-ej496uli",
      "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-hmpfao06", "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-oqwrdl40",
      "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-qd5uvz2a", "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-450jp9uq",
      "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-b0u3hhts", "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-86s0fjos",
      "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-f4cbs4nc", "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-96jhcorq"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cbs:ap-singapore:uin\/100000750436:instance\/disk-96jhcorq","Tags":[{"TagKey":"test_pro_27","TagValue":"test_pro_27"},{"TagKey":"test_pro_25","TagValue":"test_pro_25"},{"TagKey":"test_pro_26","TagValue":"test_pro_26"},{"TagKey":"test_pro_24","TagValue":"test_pro_24"},{"TagKey":"test_pro_22","TagValue":"test_pro_22"},{"TagKey":"test_pro_23","TagValue":"test_pro_23"},{"TagKey":"test_pro_21","TagValue":"test_pro_21"},{"TagKey":"test_pro_19","TagValue":"test_pro_19"},{"TagKey":"test_pro_20","TagValue":"test_pro_20"},{"TagKey":"test_pro_test1","TagValue":"this
        is test1"},{"TagKey":"test_pro_18[...]
- request:
    body: '{"ResourceList": ["qcs::cbs:ap-singapore:uin/100000750436:instance/disk-2xu821gm",
      "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-fubdgqjm", "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-0fdcml0u",
      "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-peuqflbc", "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-9uwxw17k",
      "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-klhdsopu", "qcs::cbs:ap-singapore:uin/100000750436:instance/disk-0eu2baru"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"bed557d0-3a11-41cf-947c-482744d62493"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"Namespace": "QCE/BLOCK_STORAGE", "MetricName": "DiskReadTraffic", "Period":
      3600, "StartTime": "2022-11-12T06:11:45+00:00", "EndTime": "2022-11-15T06:11:45+00:00",
      "Instances": [{"Dimensions": [{"Name": "diskId", "Value": "disk-ej496uli"}]},
      {"Dimensions": [{"Name": "diskId", "Value": "disk-hmpfao06"}]}, {"Dimensions":
      [{"Name": "diskId", "Value": "disk-oqwrdl40"}]}, {"Dimensions": [{"Name": "diskId",
      "Value": "disk-qd5uvz2a"}]}, {"Dimensions": [{"Name": "diskId", "Value": "disk-450jp9uq"}]},
      {"Dimensions": [{"Name": "diskId", "Value": "disk-b0u3hhts"}]}, {"Dimensions":
      [{"Name": "diskId", "Value": "disk-86s0fjos"}]}, {"Dimensions": [{"Name": "diskId",
      "Valu[...]
