interactions:
- request:
    body: '{"Offset": "0", "Limit": "20"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeSubnets
      X-TC-Region:
      - na-ashburn
      X-TC-TraceId:
      - fee7ec82-8b42-40cd-88c5-6292c39e36c7
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.na-ashburn.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"SubnetSet\": [\n            {\n                \"VpcId\":
        \"vpc-pyqkrqbp\",\n                \"SubnetId\": \"subnet-8i3da4re\",\n                \"SubnetName\":
        \"zone2\",\n                \"CidrBlock\": \"10.0.2.0\\/24\",\n                \"Ipv6CidrBlock\":
        \"\",\n                \"ISPType\": \"\",\n                \"AddressType\":
        \"\",\n                \"IsDefault\": false,\n                \"IsRemoteVpcSnat\":
        false,\n                \"EnableBroadcast\": false,\n                \"Zone\":
        \"na-ashburn-2\",\n                \"RouteTableId\": \"rtb-brq6u09u\",\n                \"NetworkAclId\":
        \"\",\n                \"HighPriorityRouteTableId\": \"\",\n                \"TotalIpAddressCount\":
        253,\n                \"AvailableIpAddressCount\": 253,\n                \"CreatedTime\":
        \"2024-03-11 09:05:25\",\n                \"TagSet\": [\n                    {\n
        \                       \"Key\": \"Group\",\n                        \"Value\":
        \"TAM\"\n                    }\n                ],\n                \"LocalZone\":
        false,\n                \"IsShare\": false,\n                \"GatewaySet\":
        [\n                    {\n                        \"Address\": \"10.0.2.1\"\n
        \                   }\n                ],\n                \"CdcId\": \"\",\n
        \               \"IsCdcSubnet\": 0,\n                \"Region\": \"na-ashburn\"\n
        \           },\n            {\n                \"VpcId\": \"vpc-pyqkrqbp\",\n
        \               \"SubnetId\": \"subnet-8uo3a0go\",\n                \"SubnetName\":
        \"zone1\",\n                \"CidrBlock\": \"10.0.0.0\\/24\",\n                \"Ipv6CidrBlock\":
        \"\",\n                \"ISPType\": \"\",\n                \"AddressType\":
        \"\",\n                \"IsDefault\": false,\n                \"IsRemoteVpcSnat\":
        false,\n       [...]
- request:
    body: '{"ResourceList": ["qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-8i3da4re",
      "qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-8uo3a0go", "qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-3a91a0ty",
      "qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-g6jzv116", "qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-i6me01xa",
      "qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-ixik2gdy", "qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-j8m9zoim",
      "qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-28zabb6a", "qcs::vpc:na-ashburn:uin/100009291175:subnet/subnet-30ukchjq"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - na-ashburn
      X-TC-TraceId:
      - ad643015-3229-470e-b0bc-cbd70ff23253
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.na-ashburn.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::vpc:na-ashburn:uin\/100009291175:subnet\/subnet-8i3da4re","Tags":[{"TagKey":"Group","TagValue":"TAM","Category":"Custom"}]},{"Resource":"qcs::vpc:na-ashburn:uin\/100009291175:subnet\/subnet-8uo3a0go","Tags":[{"TagKey":"Group","TagValue":"TAM","Category":"Custom"}]}],"RequestId":"c6432fb9-deae-4609-95ad-9dc4f49380a8"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - ad643015-3229-470e-b0bc-cbd70ff23253
    status:
      code: 200
      message: OK
version: 1
