interactions:
- request:
    body: '{"InstanceIds": ["ins-00lycyy6"], "Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 1, "InstanceSet": [{"Placement": {"Zone":
        "ap-singapore-4", "HostId": null, "ProjectId": 0}, "InstanceId": "ins-00lycyy6",
        "Uuid": "9683a76c-12cb-45f5-b7e9-70ae917a6ae4", "InstanceState": "RUNNING",
        "RestrictState": "NORMAL", "InstanceType": "SA2.MEDIUM4", "CPU": 2, "Memory":
        4, "InstanceName": "Unnamed", "InstanceChargeType": "POSTPAID_BY_HOUR", "SystemDisk":
        {"DiskType": "CLOUD_BSSD", "DiskId": "disk-f4cbs4nc", "DiskSize": 50, "Encrypt":
        false, "KmsKeyId": null, "ThroughputPerformance": 0, "CdcId": null}, "DataDisks":
        [], "PrivateIpAddresses": ["192.168.0.8"], "PublicIpAddresses": ["43.134.236.22"],
        "IPv6Addresses": null, "InternetAccessible": {"InternetMaxBandwidthOut": 5,
        "InternetChargeType": "TRAFFIC_POSTPAID_BY_HOUR"}, "VirtualPrivateCloud":
        {"VpcId": "vpc-2hxl6jir", "SubnetId": "subnet-gnl4awp6", "AsVpcGateway": false},
        "SecurityGroupIds": ["sg-4rdhd5n6"], "LoginSettings": {"KeyIds": ["skey-83mjf79v"]},
        "ImageId": "img-eb30mz89", "OsName": "TencentOS Server 3.1 (TK4)", "DefaultLoginUser":
        "root", "DefaultLoginPort": 22, "RenewFlag": null, "CreatedTime": "2022-09-06T03:07:37Z",
        "ExpiredTime": null, "Tags": [{"tagKey": "maid_status", "tagValue": "Resource
        does not meet policy: stop@2022-09-30T03:52:00+00:00", "Key": "maid_status",
        "Value": "Resource does not meet policy: stop@2022-09-30T03:52:00+00:00"}],
        "PlatformProjectId": null, "DisasterRecoverGroupId": "", "DedicatedClusterId":
        "", "CamRoleName": "", "LatestOperation": "StartInstances", "LatestOperationState":
        "SUCCESS", "LatestOperationRequestId": "02fae3e6-21e0-41d2-9a90-c3692d8cb0de",
        "IsolatedSource": "NOTISOLATED", "HpcClusterId": "", "DisableApiTermination":
        false, "RdmaIpAddresses": null, "LicenseType": "TencentCloud", "StopChargingMode":
        "NOT_APPLICABLE"}], "RequestId": "6e44ff39-c6bd-41e9-93ce-98b8ff890ea2"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"InstanceIds": ["ins-00lycyy6"], "StopType": "SOFT", "StoppedMode": "STOP_CHARGING"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - StopInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"RequestId": "e8abc823-2321-4465-96a3-dd32d30615fe"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
