interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeNatGateways
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"NatGatewaySet\": [\n            {\n
        \               \"NatGatewayId\": \"nat-okb10oqo\",\n                \"NatGatewayName\":
        \"ritch-demo\",\n                \"GatewayType\": \"HYPER\",\n                \"VpcId\":
        \"vpc-7fyzh7ml\",\n                \"CreatedTime\": \"2022-09-29 22:36:33\",\n
        \               \"State\": \"AVAILABLE\",\n                \"NetworkState\":
        \"AVAILABLE\",\n                \"InternetMaxBandwidthOut\": 10,\n                \"MaxConcurrentConnection\":
        1000000,\n                \"PublicIpAddressSet\": [\n                    {\n
        \                       \"AddressId\": \"eip-m41810is\",\n                        \"PublicIpAddress\":
        \"43.132.34.141\",\n                        \"IsBlocked\": false\n                    }\n
        \               ],\n                \"DestinationIpPortTranslationNatRuleSet\":
        [],\n                \"Zone\": \"ap-singapore-1\",\n                \"SourceIpTranslationNatRuleSet\":
        [],\n                \"NatType\": \"NAT\",\n                \"NatProductVersion\":
        1,\n                \"IsExclusive\": false,\n                \"RestrictState\":
        \"NORMAL\",\n                \"TagSet\": [\n                    {\n                        \"Key\":
        \"\u6D4B\u8BD5\u4EBA\u5458\",\n                        \"Value\": \"ritchiecai\"\n
        \                   }\n                ],\n                \"SharedCount\":
        null,\n                \"DirectConnectGatewayIds\": [],\n                \"SubnetId\":
        \"\",\n                \"SecurityGroupSet\": [],\n                \"ExclusiveGatewayBandwidth\":
        null\n            }\n        ],\n        \"TotalCount\": 1,\n        \"RequestId\":
        \"32d9026e-6f47-4ac9-8d7c-42e65cef22a8\"\n    }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::vpc:ap-singapore:uin/100000750436:nat/nat-okb10oqo"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::vpc:ap-singapore:uin\/100000750436:nat\/nat-okb10oqo","Tags":[{"TagKey":"\u6d4b\u8bd5\u4eba\u5458","TagValue":"ritchiecai"}]}],"RequestId":"9d1b0ed9-4306-4d55-b6d7-5bcf9ae368e3"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"Namespace": "QCE/NAT_GATEWAY", "MetricName": "Conns", "Period": 3600,
      "StartTime": "2022-10-11T02:28:18+00:00", "EndTime": "2022-10-18T02:28:18+00:00",
      "Instances": [{"Dimensions": [{"Name": "natId", "Value": "nat-okb10oqo"}]}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetMonitorData
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-07-24'
    method: POST
    uri: https://monitor.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"StartTime":"2022-10-11 10:00:00","EndTime":"2022-10-18
        10:00:00","Period":3600,"MetricName":"Conns","DataPoints":[{"Dimensions":[{"Name":"natId","Value":"nat-okb10oqo"}],"Timestamps":[1665453600,1665457200,1665460800,1665464400,1665468000,1665471600,1665475200,1665478800,1665482400,1665486000,1665489600,1665493200,1665496800,1665500400,1665504000,1665507600,1665511200,1665514800,1665518400,1665522000,1665525600,1665529200,1665532800,1665536400,1665540000,1665543600,1665547200,1665550800,1665554400,1665558000,1665561600,1665565200,1665568800,1665572400,1665576000,1665579600,1665583200,1665586800,1665590400,1665594000,1665597600,1665601200,1665604800,1665608400,1665612000,1665[...]
