interactions:
- request:
    body: '{"InstanceIds": ["ins-dq1dmpgk", "ins-n198q4gc"], "Offset": 0, "Limit":
      20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 2, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-4\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-dq1dmpgk\", \"Uuid\": \"2e56464f-5d8c-4449-960f-75ad37e5a625\", \"OperatorUin\":
        \"\", \"InstanceState\": \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\":
        \"SA2.MEDIUM4\", \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"arron_cvm\",
        \"InstanceChargeType\": \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\":
        \"CLOUD_BSSD\", \"DiskId\": \"disk-86s0fjos\", \"DiskSize\": 50, \"Encrypt\":
        false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0, \"CdcId\": null},
        \"DataDisks\": [], \"PrivateIpAddresses\": [\"192.168.0.11\"], \"PublicIpAddresses\":
        [\"43.156.31.218\"], \"IPv6Addresses\": null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\":
        10, \"InternetChargeType\": \"TRAFFIC_POSTPAID_BY_HOUR\"}, \"VirtualPrivateCloud\":
        {\"VpcId\": \"vpc-rdsfj6ot\", \"SubnetId\": \"subnet-9hl8a56w\", \"AsVpcGateway\":
        false}, \"SecurityGroupIds\": [\"sg-0tifsp1w\", \"sg-cj259yog\"], \"LoginSettings\":
        {\"KeyIds\": [\"skey-0uvvu4xh\"]}, \"ImageId\": \"img-eb30mz89\", \"OsName\":
        \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\": \"root\", \"DefaultLoginPort\":
        22, \"RenewFlag\": null, \"CreatedTime\": \"2022-09-14T02:09:47Z\", \"ExpiredTime\":
        null, \"Tags\": [], \"PlatformProjectId\": null, \"DisasterRecoverGroupId\":
        \"\", \"DedicatedClusterId\": \"\", \"CamRoleName\": \"\", \"LatestOperation\":
        \"ModifyInstancesAttribute.SecurityGroups\", \"LatestOperationState\": \"SUCCESS\",
        \"LatestOperationRequestId\": \"76438a01-31a9-4e8e-a112-8acf49ff4aca\", \"IsolatedSource\":
        \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\": false,
        \"RdmaIpAddresses\": null, \"LicenseType\": \"TencentCloud\", \"StopChargingMode\":
        \"NOT_APPLICABLE\"}, {\"Placement\": {\"Zone\": \"ap-singapore-1\", \"HostId\":
        null, \"ProjectId\": 1000000511}, \"InstanceId\": \"ins-n198q4gc\", \"Uuid\":
        \"507d7ee0-bb64-48ff-82b1-960f03ad904f\", \"OperatorUin\": \"\", \"InstanceState\":
        \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\": \"S5.LARGE8\",
        \"CPU\": 4, \"Memory\": 8, \"InstanceName\": \"Unnamed\", \"InstanceChargeType\":
        \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\[...]
- request:
    body: '{"Namespace": "QCE/CVM", "MetricName": "CvmDiskUsage", "Period": 300, "StartTime":
      "2022-09-28T09:59:40+08:00", "EndTime": "2022-09-29T09:59:40+08:00", "Instances":
      [{"Dimensions": [{"Name": "InstanceId", "Value": "ins-dq1dmpgk"}]}, {"Dimensions":
      [{"Name": "InstanceId", "Value": "ins-n198q4gc"}]}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetMonitorData
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-07-24'
    method: POST
    uri: https://monitor.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"StartTime":"2022-09-28 09:55:00","EndTime":"2022-09-29
        09:55:00","Period":300,"MetricName":"CvmDiskUsage","DataPoints":[{"Dimensions":[{"Name":"InstanceId","Value":"ins-dq1dmpgk"}],"Timestamps":[1664330100,1664330400,1664330700,1664331000,1664331300,1664331600,1664331900,1664332200,1664332500,1664332800,1664333100,1664333400,1664333700,1664334000,1664334300,1664334600,1664334900,1664335200,1664335500,1664335800,1664336100,1664336400,1664336700,1664337000,1664337300,1664337600,1664337900,1664338200,1664338500,1664338800,1664339100,1664339400,1664339700,1664340000,1664340300,1664340600,1664340900,1664341200,1664341500,1664341800,1664342100,1664342400,1664342700,1664343000,1664343300,1664[...]
