interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432851'
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 40, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-2\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-5m1qoe12\", \"Uuid\": \"99dec0d3-208c-4bfa-88d6-8641c6e956c4\", \"InstanceState\":
        \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\": \"S5.2XLARGE16\",
        \"CPU\": 8, \"Memory\": 16, \"InstanceName\": \"qcintl-backend-prod-26\",
        \"InstanceChargeType\": \"PREPAID\", \"SystemDisk\": {\"DiskType\": \"CLOUD_PREMIUM\",
        \"DiskId\": \"disk-fz7rygkk\", \"DiskSize\": 100, \"Encrypt\": false, \"KmsKeyId\":
        null, \"ThroughputPerformance\": 0, \"CdcId\": null}, \"DataDisks\": [{\"DiskType\":
        \"CLOUD_PREMIUM\", \"DiskId\": \"disk-hv1z33fs\", \"DiskSize\": 500, \"DeleteWithInstance\":
        true, \"Encrypt\": false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0,
        \"CdcId\": null}], \"PrivateIpAddresses\": [\"11.146.148.162\"], \"PublicIpAddresses\":
        null, \"IPv6Addresses\": null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\":
        0, \"InternetChargeType\": null}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-fydywcwh\",
        \"SubnetId\": \"subnet-7jck3lok\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-r7vh5s36\", \"sg-j71b9eie\"], \"LoginSettings\": {\"KeyIds\": null},
        \"ImageId\": \"img-2lr9q49h\", \"OsName\": \"TencentOS Server 2.2 (tkernel3)\",
        \"DefaultLoginUser\": \"root\", \"DefaultLoginPort\": 36000, \"RenewFlag\":
        \"NOTIFY_AND_AUTO_RENEW\", \"CreatedTime\": \"2022-08-15T09:46:44Z\", \"ExpiredTime\":
        \"2022-09-15T09:46:44Z\", \"Tags\": [{\"tagKey\": \"maid_status\", \"tagValue\":
        \"Resource does not meet policy: terminate@2022-09-01T03:01:00+00:00\", \"Key\":
        \"maid_status\", \"Value\": \"Resource does not meet policy: terminate@2022-09-01T03:01:00+00:00\"},
        {\"tagKey\": \"\u4E00\u7EA7\u4E1A\u52A1\", \"tagValue\": \"[N][\u817E\u8BAF\u4E91\u56FD\u9645\u7248\u5B98\u7F51]_1175429\",
        \"Key\": \"\u4E00\u7EA7\u4E1A\u52A1\", \"Value\": \"[N][\u817E\u8BAF\u4E91\u56FD\u9645\u7248\u5B98\u7F51]_1175429\"},
        {\"tagKey\": \"\u4E09\u7EA7\u4E1A\u52A1\", \"tagValue\": \"[TKE][\u903B\u8F91]_1233351\",
        \"Key\": \"\u4E09\u7EA7\u4E1A\u52A1\", \"Value\": \"[TKE][\u90[...]
[...]
- request:
    body: '{"Offset": 40, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432852'
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 40, "InstanceSet": [], "RequestId": "bd4a6873-c7dd-457d-bca4-4d8335811554"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
