interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 6, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-4\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-dq1dmpgk\", \"Uuid\": \"2e56464f-5d8c-4449-960f-75ad37e5a625\", \"OperatorUin\":
        \"\", \"InstanceState\": \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\":
        \"SA2.MEDIUM4\", \"CPU\": 2, \"Memory\": 4, \"InstanceName\": \"arron_cvm\",
        \"InstanceChargeType\": \"POSTPAID_BY_HOUR\", \"SystemDisk\": {\"DiskType\":
        \"CLOUD_BSSD\", \"DiskId\": \"disk-86s0fjos\", \"DiskSize\": 50, \"Encrypt\":
        false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0, \"CdcId\": null},
        \"DataDisks\": [], \"PrivateIpAddresses\": [\"192.168.0.11\"], \"PublicIpAddresses\":
        [\"43.156.31.218\"], \"IPv6Addresses\": null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\":
        10, \"InternetChargeType\": \"TRAFFIC_POSTPAID_BY_HOUR\"}, \"VirtualPrivateCloud\":
        {\"VpcId\": \"vpc-rdsfj6ot\", \"SubnetId\": \"subnet-9hl8a56w\", \"AsVpcGateway\":
        false}, \"SecurityGroupIds\": [\"sg-0tifsp1w\", \"sg-cj259yog\"], \"LoginSettings\":
        {\"KeyIds\": [\"skey-0uvvu4xh\"]}, \"ImageId\": \"img-eb30mz89\", \"OsName\":
        \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\": \"root\", \"DefaultLoginPort\":
        22, \"RenewFlag\": null, \"CreatedTime\": \"2022-09-14T02:09:47Z\", \"ExpiredTime\":
        null, \"Tags\": [], \"PlatformProjectId\": null, \"DisasterRecoverGroupId\":
        \"\", \"DedicatedClusterId\": \"\", \"CamRoleName\": \"\", \"LatestOperation\":
        \"ModifyInstancesAttribute.SecurityGroups\", \"LatestOperationState\": \"SUCCESS\",
        \"LatestOperationRequestId\": \"76438a01-31a9-4e8e-a112-8acf49ff4aca\", \"IsolatedSource\":
        \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\": false,
        \"RdmaIpAddresses\": null, \"LicenseType\": \"TencentCloud\", \"StopChargingMode\":
        \"NOT_APPLICABLE\"}, {\"Placement\": {\"Zone\": \"ap-singapore-4\", \"HostId\":
        null, \"ProjectId\": 0}, \"InstanceId\": \"ins-00lycyy6\", \"Uuid\": \"9683a76c-12cb-45f5-b7e9-70ae917a6ae4\",
        \"OperatorUin\": \"\", \"InstanceState\": \"STOPPED\", \"RestrictState\":
        \"NORMAL\", \"InstanceType\": \"SA2.MEDIUM4\", \"CPU\": 2, \"Memory\": 4,
        \"InstanceName\": \"Unnamed\", \"InstanceChargeType\": \"POSTPAID_BY_HOUR\",
        \"SystemDisk\": {\"DiskType\": \"CLOUD_BSSD\", \"DiskId\": \"disk-f4cbs4nc\",
        \"DiskSize\": 50, \"Encrypt\": false, \"KmsKeyId\": null, \"ThroughputPerformance\":
        0, \"CdcId\": null}, \"DataDisks\": [], \"PrivateIpAddresses\": [\"192.168.0.8\"],
        \"PublicIpAddresses\": null, \"IPv6Addresses\": null, \"InternetAccessible\":
        {\"InternetMaxBandwidthOut\": 5, \"InternetChargeType\": null}, \"VirtualPrivateCloud\":
        {\"VpcId\": \"vpc-2hxl6jir\", \"SubnetId\": \"subnet-gnl4awp6\", \"AsVpcGateway\":
        false}, \"SecurityGroupIds\": [\"sg-4rdhd5n6\"], \"LoginSettings\": {\"KeyIds\":
        [\"skey-83mjf79v\"]}, \"ImageId\": \"img-eb30mz89\", \"OsName\": \"TencentOS
        Server 3.1 (TK4)\", \"DefaultLoginUser\": \"root\", \"DefaultLoginPort\":
        22, \"RenewFlag\": null, \"CreatedTime\": \"2022-09-06T03:07:37Z\", \"ExpiredTime\":
        null, \"Tags\": [{\"tagKey\": \"maid_status\", \"tagValue\": \"Resource does
        not meet policy: stop@2022-10-11T06:17:00+00:00\", \"Key\": \"maid_status\",
        \"Value\": \"Resource does not meet policy: stop@2022-10-11T06:17:00+00:00\"}],
        \"PlatformProjectId\": null, \"DisasterRecoverGroupId\": \"\", \"DedicatedClusterId\":
        \"\", \"CamRoleName\": \"\", \"LatestOperation\": \"StopInstances\", \"LatestOperationState\":
        \"SUCCESS\", \"LatestOperationRequestId\": \"ef0646f8-8cb5-4a8d-b5fb-6358fb38cd99\",
        \"IsolatedSource\": \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\":
        false, \"RdmaIpAddresses\": null, \[...]
- request:
    body: '{"Offset": 20, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 6, "InstanceSet": [], "RequestId": "34dc9677-9e71-4070-8d21-55a1d86970be"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore:uin/100000750436:instance/ins-dq1dmpgk",
      "qcs::cvm:ap-singapore:uin/100000750436:instance/ins-00lycyy6", "qcs::cvm:ap-singapore:uin/100000750436:instance/ins-a4vgayks",
      "qcs::cvm:ap-singapore:uin/100000750436:instance/ins-n198q4gc", "qcs::cvm:ap-singapore:uin/100000750436:instance/ins-beetmuio",
      "qcs::cvm:ap-singapore:uin/100000750436:instance/ins-5xpbvkm8"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-00lycyy6","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: stop@2022-10-11T06:17:00+00:00"}]},{"Resource":"qcs::cvm:ap-singapore:uin\/100000750436:instance\/ins-a4vgayks","Tags":[{"TagKey":"tag_add_test_key_for_test_rename","TagValue":"tag_add_test_value_for_test"},{"TagKey":"test_pro_18","TagValue":"test_pro_18"},{"TagKey":"test_pro_17","TagValue":"test_pro_17"},{"TagKey":"test_pro_16","TagValue":"test_pro_16"},{"TagKey":"test_pro_15","TagValue":"this
        is test"},{"TagKey":"test_pro_14","TagValue":"this is [...]
