interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeRegions
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 20, "RequestId": "794b5bf3-461d-4fe6-b29a-7d25db675c5d",
        "RegionSet": [{"RegionState": "AVAILABLE", "Region": "ap-guangzhou", "RegionName":
        "\u534e\u5357\u5730\u533a(\u5e7f\u5dde)"}, {"RegionState": "AVAILABLE", "Region":
        "ap-shanghai", "RegionName": "\u534e\u4e1c\u5730\u533a(\u4e0a\u6d77)"}, {"RegionState":
        "AVAILABLE", "Region": "ap-nanjing", "RegionName": "\u534e\u4e1c\u5730\u533a(\u5357\u4eac)"},
        {"RegionState": "AVAILABLE", "Region": "ap-beijing", "RegionName": "\u534e\u5317\u5730\u533a(\u5317\u4eac)"},
        {"RegionState": "AVAILABLE", "Region": "ap-chengdu", "RegionName": "\u897f\u5357\u573[...]
