interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432852'
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 40, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-2\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-5m1qoe12\", \"Uuid\": \"99dec0d3-208c-4bfa-88d6-8641c6e956c4\", \"InstanceState\":
        \"RUNNING\", \"RestrictState\": \"NORMAL\", \"InstanceType\": \"S5.2XLARGE16\",
        \"CPU\": 8, \"Memory\": 16, \"InstanceName\": \"qcintl-backend-prod-26\",
        \"InstanceChargeType\": \"PREPAID\", \"SystemDisk\": {\"DiskType\": \"CLOUD_PREMIUM\",
        \"DiskId\": \"disk-fz7rygkk\", \"DiskSize\": 100, \"Encrypt\": false, \"KmsKeyId\":
        null, \"ThroughputPerformance\": 0, \"CdcId\": null}, \"DataDisks\": [{\"DiskType\":
        \"CLOUD_PREMIUM\", \"DiskId\": \"disk-hv1z33fs\", \"DiskSize\": 500, \"DeleteWithInstance\":
        true, \"Encrypt\": false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0,
        \"CdcId\": null}], \"PrivateIpAddresses\": [\"11.146.148.162\"], \"PublicIpAddresses\":
        null, \"IPv6Addresses\": null, \"InternetAccessible\": {\"InternetMaxBandwidthOut\":
        0, \"InternetChargeType\": null}, \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-fydywcwh\",
        \"SubnetId\": \"subnet-7jck3lok\", \"AsVpcGateway\": false}, \"SecurityGroupIds\":
        [\"sg-r7vh5s36\", \"sg-j71b9eie\"], \"LoginSettings\": {\"KeyIds\": null},
        \"ImageId\": \"img-2lr9q49h\", \"OsName\": \"TencentOS Server 2.2 (tkernel3)\",
        \"DefaultLoginUser\": \"root\", \"DefaultLoginPort\": 36000, \"RenewFlag\":
        \"NOTIFY_AND_AUTO_RENEW\", \"CreatedTime\": \"2022-08-15T09:46:44Z\", \"ExpiredTime\":
        \"2022-09-15T09:46:44Z\", \"Tags\": [{\"tagKey\": \"maid_status\", \"tagValue\":
        \"Resource does not meet policy: terminate@2022-09-01T03:01:00+00:00\", \"Key\":
        \"maid_status\", \"Value\": \"Resource does not meet policy: terminate@2022-09-01T03:01:00+00:00\"},
        {\"tagKey\": \"\u4E00\u7EA7\u4E1A\u52A1\", \"tagValue\": \"[N][\u817E\u8BAF\u4E91\u56FD\u9645\u7248\u5B98\u7F51]_1175429\",
        \"Key\": \"\u4E00\u7EA7\u4E1A\u52A1\", \"Value\": \"[N][\u817E\u8BAF\u4E91\u56FD\u9645\u7248\u5B98\u7F51]_1175429\"},
        {\"tagKey\": \"\u4E09\u7EA7\u4E1A\u52A1\", \"tagValue\": \"[TKE][\u903B\u8F91]_1233351\",
        \"Key\": \"\u4E09\u7EA7\u4E1A\u52A1\", \"Value\": \"[TKE][\u90[...]
[...]
- request:
    body: '{"Offset": 40, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432853'
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 40, "InstanceSet": [], "RequestId": "4d19cf3f-3e05-4c48-bfbd-d379b24e38c6"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-5m1qoe12"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432854'
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/438167613:instance\/ins-5m1qoe12","Tags":[{"TagKey":"maid_status","TagValue":"Resource
        does not meet policy: terminate@2022-09-01T03:01:00+00:00"},{"TagKey":"\u5907\u4efd\u8d1f\u8d23\u4eba","TagValue":"patrickjxli"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"patrickjxli"},{"TagKey":"\u4e09\u7ea7\u4e1a\u52a1","TagValue":"[TKE][\u903b\u8f91]_1233351"},{"TagKey":"\u4e8c\u7ea7\u4e1a\u52a1","TagValue":"[\u540e\u53f0\u670d\u52a1][QCintlBackend]_1177037"},{"TagKey":"\u4e00\u7ea7\u4e1a\u52a1","TagValue":"[N][\u817e\u8baf\u4e91\u56fd\u9645\u7248\u5b98\u7f51]_1175429"},{"TagKey":"\u8fd0\u8425\u4ea7\u54c1","TagValue":"\u817e\u8baf\u4e91\u56fd\u9645\u7248\u5b98\u7f51_2462"},{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"\u56fd\u9645\u4ea7\u54c1\u7814\u53d1\u4e2d\u5fc3_1182"}]}],"RequestId":"033beefa-0fe9-4ee1-8592-fd2455d16d63"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore::instance/ins-o20umf2m"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432856'
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cvm:ap-singapore:uin\/438167613:instance\/ins-o20umf2m","Tags":[{"TagKey":"\u4e09\u7ea7\u4e1a\u52a1","TagValue":"[TKE][\u903b\u8f91]_1233351"},{"TagKey":"\u5907\u4efd\u8d1f\u8d23\u4eba","TagValue":"rostachen"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"patrickjxli"},{"TagKey":"\u4e8c\u7ea7\u4e1a\u52a1","TagValue":"[\u540e\u53f0\u670d\u52a1][QCintlBackend]_1177037"},{"TagKey":"\u4e00\u7ea7\u4e1a\u52a1","TagValue":"[N][\u817e\u8baf\u4e91\u56fd\u9645\u7248\u5b98\u7f51]_1175429"},{"TagKey":"\u8fd0\u8425\u4ea7\u54c1","TagValue":"\u817e\u8baf\u4e91\u56fd\u9645\u7248\u5b98\u7f51_2462"},{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"\u56fd\u9645\u4ea7\u54c1\u7814\u53d1\u4e2d\u5fc3_1182"}]}],"RequestId":"bc4fe9e1-d4db-4011-a503-6812ca905138"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
