interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeRegions
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432850'
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 41, "RequestId": "9891a274-bf13-4c11-9dc0-f0e57dab1a2c",
        "RegionSet": [{"RegionState": "AVAILABLE", "Region": "ap-guangzhou", "RegionName":
        "\u534e\u5357\u5730\u533a(\u5e7f\u5dde)"}, {"RegionState": "AVAILABLE", "Region":
        "ap-shenzhen-fsi", "RegionName": "\u534e\u5357\u5730\u533a(\u6df1\u5733\u91d1\u878d)"},
        {"RegionState": "AVAILABLE", "Region": "ap-guangzhou-open", "RegionName":
        "\u534e\u5357\u5730\u533a(\u5e7f\u5ddeOPEN)"}, {"RegionState": "AVAILABLE",
        "Region": "ap-shenzhen", "RegionName": "\u534e\u5357\u5730\u533a(\u6df1\u5733)"},
        {"RegionState": "AVAILABLE", "Region": "ap-qingyu[...]
