interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        dbUserName: user@example.com
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
        description: user@example.com
        emailVerified: true
        externalIdentifier: c5571b54909a443685e610af14bcf73b
        freeformTags:
          Contractor: 'True'
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2022-07-15T08:25:13.055Z'
        timeModified: '2023-06-21T09:20:37.521Z'
    headers:
      content-type:
      - application/json
      etag:
      - 31ff068d7314192e8d5de6e0397f28186f61005e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/n
  response:
    body:
      data: idimd1fghobk
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/n/<namepsace>/b?compartmentId=ocid1.compartment.oc1..<unique_ID>&fields=tags
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-06T04:47:26.556Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        etag: fbada88e-4727-4938-98b2-0bcdf52f3fe4
        freeformTags:
          cloud_custodian: 'true'
          custodian_development: 'true'
          multi_account: 'true'
          output: 'true'
          project: PSM
        name: Test1
        namespace: <namespace>
        timeCreated: '2023-06-06T04:47:26.574Z'
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-06T04:47:34.922Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
          cloud_custodian:
            environment: dev
        etag: 6db4ff78-7a9a-4742-a446-4fa8e4a1a6a5
        freeformTags:
          natural: 'false'
          project: PSM
          vv_limit: trial
        name: Test2
        namespace: <namespace>
        timeCreated: '2023-06-06T04:47:34.936Z'
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-07-14T06:06:06.153Z'
        etag: 562afe45-ca91-4698-b3af-d266fb69d908
        freeformTags:
          Project: CNCF
        name: test_bucket
        namespace: <namespace>
        timeCreated: '2023-07-14T06:06:06.170Z'
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://www-proxy.us.oracle.com:80/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: Disabled
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-07-14T06:06:06.153Z'
        etag: f7acda7d-3fe8-4d23-89d0-e890f1e11e6f
        freeformTags:
          Project: CNCF
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: NoPublicAccess
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-07-14T06:06:06.170Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - f7acda7d-3fe8-4d23-89d0-e890f1e11e6f
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-07-14T06:06:06.153Z'
        etag: f7acda7d-3fe8-4d23-89d0-e890f1e11e6f
        freeformTags:
          Project: CNCF
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: NoPublicAccess
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-07-14T06:06:06.170Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - f7acda7d-3fe8-4d23-89d0-e890f1e11e6f
      x-api-id:
      - native
    status:
      code: 200
      message: OK
version: 1
