interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-02-14T16:54:52.134Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: 3fcb0b0c6a3844ca8dad3bd6a92e3537
        freeformTags:
          TagName: TagValue
          api-keys: test
          key_old: 'true'
          max_api_keys_limit_reached: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-02-14T16:54:52.216Z'
        timeModified: '2023-06-08T07:59:26.410Z'
    headers:
      content-type:
      - application/json
      etag:
      - e4384ad3ce46f76cf4cfc837226fe90c7a81112a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users?compartmentId=ocid1.tenancy.oc1..<unique_ID>
  response:
    body:
      data:
      - capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: true
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T18:45:37.853Z'
        description: Test User1
        email: test@custodian.com
        emailVerified: false
        externalIdentifier: null
        freeformTags:
          Cloud_Custodian: 'True'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: null
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: Custodian_User
        timeCreated: '2023-06-15T18:45:37.962Z'
        timeModified: '2023-06-15T18:45:38.681Z'
    headers:
      content-type:
      - application/json
      opc-limit:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: true
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T18:45:37.853Z'
        description: Test User1
        email: test@custodian.com
        emailVerified: false
        externalIdentifier: null
        freeformTags:
          Cloud_Custodian: 'True'
          key_limit: '2'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: null
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: Custodian_User
        timeCreated: '2023-06-15T18:45:37.962Z'
        timeModified: '2023-06-15T18:45:40.600Z'
    headers:
      content-type:
      - application/json
      etag:
      - b92d49229ca33c95161fd454b0f44d4f5bdd90c4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: true
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T18:45:37.853Z'
        description: Test User1
        email: test@custodian.com
        emailVerified: false
        externalIdentifier: null
        freeformTags:
          Cloud_Custodian: 'True'
          key_limit: '2'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: null
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: Custodian_User
        timeCreated: '2023-06-15T18:45:37.962Z'
        timeModified: '2023-06-15T18:45:40.600Z'
    headers:
      content-type:
      - application/json
      etag:
      - b92d49229ca33c95161fd454b0f44d4f5bdd90c4
    status:
      code: 200
      message: OK
version: 1
