interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n
  response:
    body:
      data: idimd1fghobk
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b?compartmentId=ocid1.compartment.oc1..<unique_ID>&fields=tags
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-06T04:47:26.556Z'
        etag: d533a384-786e-4a56-9d25-4dd86d5dd5ab
        freeformTags:
          cloud_custodian: 'true'
          dev_bucket: 'true'
          natural: 'false'
        name: Test1
        namespace: <namespace>
        timeCreated: '2023-06-06T04:47:26.574Z'
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-06T04:47:34.922Z'
          cloud_custodian:
            environment: dev
        etag: d6c7b5fc-b9db-48b0-933b-b6730a84f3d8
        freeformTags:
          cloud_custodian: 'true'
          natural: 'false'
          vv_limit: trial
        name: Test2
        namespace: <namespace>
        timeCreated: '2023-06-06T04:47:34.936Z'
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:26:18.910Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        etag: c4934bcd-ff0b-4f7e-8023-b43e2072694d
        freeformTags:
          Environment: Production
          Project: CNCF
        name: test_bucket
        namespace: <namespace>
        timeCreated: '2023-06-15T12:26:18.923Z'
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b/Test1
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-06T04:47:26.556Z'
        etag: d533a384-786e-4a56-9d25-4dd86d5dd5ab
        freeformTags:
          cloud_custodian: 'true'
          dev_bucket: 'true'
          natural: 'false'
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: Test1
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: NoPublicAccess
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-06-06T04:47:26.574Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - d533a384-786e-4a56-9d25-4dd86d5dd5ab
      x-api-id:
      - native
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:26:18.910Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        etag: c4934bcd-ff0b-4f7e-8023-b43e2072694d
        freeformTags:
          Environment: Production
          Project: CNCF
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: ObjectRead
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-06-15T12:26:18.923Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - c4934bcd-ff0b-4f7e-8023-b43e2072694d
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: Disabled
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:26:18.910Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        etag: 87b793ab-54f9-47f1-b086-2789ab358026
        freeformTags:
          Environment: Production
          Project: CNCF
          public_access: 'true'
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: ObjectRead
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-06-15T12:26:18.923Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - 87b793ab-54f9-47f1-b086-2789ab358026
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:26:18.910Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        etag: 87b793ab-54f9-47f1-b086-2789ab358026
        freeformTags:
          Environment: Production
          Project: CNCF
          public_access: 'true'
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: ObjectRead
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-06-15T12:26:18.923Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - 87b793ab-54f9-47f1-b086-2789ab358026
      x-api-id:
      - native
    status:
      code: 200
      message: OK
version: 1
