interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources
  response:
    body:
      data:
        items:
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-15T12:26:18.910Z'
            cloud-custodian-test:
              mark-for-resize: 'true'
          displayName: test_bucket
          freeformTags:
            Project: CNCF
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-15T12:26:18.923Z'
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-06T04:47:34.922Z'
            cloud_custodian:
              environment: dev
          displayName: Test2
          freeformTags:
            cloud_custodian: 'true'
            natural: 'false'
            vv_limit: trial
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-06T04:47:34.936Z'
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-06T04:47:26.556Z'
          displayName: Test1
          freeformTags:
            cloud_custodian: 'true'
            dev_bucket: 'true'
            natural: 'false'
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-06T04:47:26.574Z'
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-05-04T08:44:04.406Z'
          displayName: test
          freeformTags:
            max_limit: unlimited
            natural: 'false'
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-05-04T08:44:04.517Z'
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@exampl[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n
  response:
    body:
      data: idimd1fghobk
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b?compartmentId=ocid1.compartment.oc1..<unique_ID>&fields=tags
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-08-17T06:03:53.010Z'
        etag: 8da3f372-b583-433a-ad4d-12256d9f874f
        freeformTags:
          max_limit: unlimited
          natural: 'false'
        name: SMkit
        namespace: <namespace>
        timeCreated: '2022-08-17T06:03:53.044Z'
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b?compartmentId=ocid1.tenancy.oc1..<unique_ID>&fields=tags
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-02-08T07:12:51.021Z'
        etag: 3818121b-dfb1-472d-9541-de405346ac34
        freeformTags:
          max_limit: unlimited
          natural: 'false'
        name: PaaSProvisioning
        namespace: <namespace>
        timeCreated: '2022-02-08T07:12:51.040Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-03-27T05:40:34.825Z'
        etag: 69aa718e-4000-40e4-8548-c4c8435439ce
        freeformTags:
          max_limit: unlimited
          natural: 'false'
        name: jit-chk-bkt
        namespace: <namespace>
        timeCreated: '2023-03-27T05:40:34.846Z'
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
[...]
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: Disabled
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:26:18.910Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        etag: 84602d98-ee3d-4f4c-ba2c-a79194e571b6
        freeformTags:
          Project: CNCF
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: ObjectRead
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-06-15T12:26:18.923Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - 84602d98-ee3d-4f4c-ba2c-a79194e571b6
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:26:18.910Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        etag: 84602d98-ee3d-4f4c-ba2c-a79194e571b6
        freeformTags:
          Project: CNCF
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: ObjectRead
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-06-15T12:26:18.923Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - 84602d98-ee3d-4f4c-ba2c-a79194e571b6
      x-api-id:
      - native
    status:
      code: 200
      message: OK
version: 1
