interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        dbUserName: user@example.com
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
        description: user@example.com
        emailVerified: true
        externalIdentifier: c5571b54909a443685e610af14bcf73b
        freeformTags:
          Contractor: 'True'
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2022-07-15T08:25:13.055Z'
        timeModified: '2023-06-15T07:46:35.168Z'
    headers:
      content-type:
      - application/json
      etag:
      - 393ccea2d8aaf3fad414458040327337b4599133
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/compartments?compartmentId=ocid1.tenancy.oc1..<unique_ID>
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2021-06-28T23:25:06.427Z'
        description: bastion_psmopsodo
        freeformTags:
          custodian_development: 'true'
        id: ocid1.compartment.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: bastion_psmopsodo
        timeCreated: '2021-06-28T23:25:07.457Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-03-02T15:11:51.153Z'
        description: Internal Testing Compartment For CC
        freeformTags:
          custodian_development: 'true'
        id: ocid1.compartment.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: c_c_internal
        timeCreated: '2023-03-02T15:11:51.230Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T17:56:54.292Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
        id: ocid1.compartment.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-15T17:56:54.422Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T17:25:21.348Z'
        description: Custodian Test
        freeformTags:
          Environment: Development
        id: ocid1.compartment.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test2
        timeCreated: '2023-06-15T17:25:21.589Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-02-14T16:58:44.932Z'
        description: For dev work
        freeformTags:
          custodian_development: 'true'
        id: ocid1.compartment.oc1..<uniqu[...]
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://www-proxy.us.oracle.com:80/20160918/compartments/ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T17:56:54.292Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
          Environment: Development
        id: ocid1.compartment.oc1..<unique_ID>
        isAccessible: true
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-15T17:56:54.422Z'
    headers:
      content-type:
      - application/json
      etag:
      - 6184b529db923a0524cf77a1886a2e41cec1f137
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/compartments/ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T17:56:54.292Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
          Environment: Development
        id: ocid1.compartment.oc1..<unique_ID>
        isAccessible: true
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-15T17:56:54.422Z'
    headers:
      content-type:
      - application/json
      etag:
      - 6184b529db923a0524cf77a1886a2e41cec1f137
    status:
      code: 200
      message: OK
version: 1
