interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        dbUserName: user@example.com
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
        description: user@example.com
        emailVerified: true
        externalIdentifier: c5571b54909a443685e610af14bcf73b
        freeformTags:
          Contractor: 'True'
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2022-07-15T08:25:13.055Z'
        timeModified: '2023-06-21T09:20:37.521Z'
    headers:
      content-type:
      - application/json
      etag:
      - 31ff068d7314192e8d5de6e0397f28186f61005e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/compartments?compartmentId=ocid1.compartment.oc1..<unique_ID>&lifecycleState=ACTIVE
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-21T07:19:29.305Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
        id: ocid1.compartment.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-21T07:19:29.326Z'
    headers:
      content-type:
      - application/json
      opc-limit:
      - '98'
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://www-proxy.us.oracle.com:80/20160918/compartments/ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-21T07:19:29.305Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
          Environment: Development
        id: ocid1.compartment.oc1..<unique_ID>
        isAccessible: true
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-21T07:19:29.326Z'
    headers:
      content-type:
      - application/json
      etag:
      - 77c0e1f3d2de0771c2d8116b0e39f63add786b2c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/compartments/ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-21T07:19:29.305Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
          Environment: Development
        id: ocid1.compartment.oc1..<unique_ID>
        isAccessible: true
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-21T07:19:29.326Z'
    headers:
      content-type:
      - application/json
      etag:
      - 77c0e1f3d2de0771c2d8116b0e39f63add786b2c
    status:
      code: 200
      message: OK
version: 1
