interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        dbUserName: user@example.com
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
        description: user@example.com
        emailVerified: true
        externalIdentifier: c5571b54909a443685e610af14bcf73b
        freeformTags:
          Contractor: 'True'
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2022-07-15T08:25:13.055Z'
        timeModified: '2023-06-15T07:46:35.168Z'
    headers:
      content-type:
      - application/json
      etag:
      - 393ccea2d8aaf3fad414458040327337b4599133
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users?compartmentId=ocid1.tenancy.oc1..<unique_ID>
  response:
    body:
      data:
      - capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: true
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T17:57:53.775Z'
        description: Test User1
        email: test@custodian.com
        emailVerified: false
        externalIdentifier: null
        freeformTags:
          key_limit: '2'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: null
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: Custodian_User
        timeCreated: '2023-06-15T17:57:53.881Z'
        timeModified: '2023-06-15T17:58:02.555Z'
      - capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: true
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags: {}
        description: gabor toth
        email: user@example.com
        emailVerified: true
        externalIdentifier: null
        freeformTags:
          TagName: TagValue
          api-keys: test
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: null
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2021-02-01T14:28:04.809Z'
        timeModified: '2023-06-08T07:59:17.087Z'
      - capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
          api-keys:
            api-key: '2098903424'
            api-keys: test,test1
            max_api_keys_limit_reached: 'false'
          cloud-custodian-test:
            mark-for-resize-on: 01098904
        description: user@example.com
        emailVerified: true
        externalIdentifier: 320e3e0d327f4effb930c7a8aa607ff4
        freeformTags:
          09345890345: swuoiwruoweir
          '480234892': sferoiweruiow
          TagName: TagValue
          ff_api_key_limit: nox
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-03-26T03:38:11.749Z'
        timeModified: '2023-06-08T07:59:17.827Z'
      - capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustome[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>/authTokens
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        description: Test user auth token
        id: ocid1.credential.oc1..<unique_ID>
        lifecycleState: ACTIVE
        timeCreated: '2023-06-15T17:57:55.030Z'
        userId: ocid1.user.oc1..<unique_ID>
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        description: Test user auth token
        id: ocid1.credential.oc1..<unique_ID>
        lifecycleState: ACTIVE
        timeCreated: '2023-06-15T17:57:54.593Z'
        userId: ocid1.user.oc1..<unique_ID>
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>/authTokens
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        description: Test
        id: ocid1.credential.oc1..<unique_ID>
        lifecycleState: ACTIVE
        timeCreated: '2023-04-17T07:45:47.207Z'
        userId: ocid1.user.oc1..<unique_ID>
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        description: For CLI
        id: ocid1.credential.oc1..<unique_ID>
        lifecycleState: ACTIVE
        timeCreated: '2023-04-25T05:47:35.980Z'
        userId: ocid1.user.oc1..<unique_ID>
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
