interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        code: InternalError
        message: Bad Gateway
    headers:
      content-type:
      - application/json
    status:
      code: 502
      message: Bad Gateway
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        dbUserName: user@example.com
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
        description: user@example.com
        emailVerified: true
        externalIdentifier: c5571b54909a443685e610af14bcf73b
        freeformTags:
          Contractor: 'True'
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2022-07-15T08:25:13.055Z'
        timeModified: '2023-06-21T09:20:37.521Z'
    headers:
      content-type:
      - application/json
      etag:
      - 31ff068d7314192e8d5de6e0397f28186f61005e
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://www-proxy.us.oracle.com:80/20180409/resources
  response:
    body:
      data:
        items:
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-07-14T06:03:27.692Z'
            cloud-custodian-test:
              mark-for-resize: 'true'
          displayName: test_bucket
          freeformTags:
            Project: CNCF
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-07-14T06:03:27.721Z'
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-06T04:47:34.922Z'
            cloud-custodian-test:
              mark-for-resize: 'true'
            cloud_custodian:
              environment: dev
          displayName: Test2
          freeformTags:
            natural: 'false'
            project: PSM
            vv_limit: trial
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-06T04:47:34.936Z'
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-06T04:47:26.556Z'
            cloud-custodian-test:
              mark-for-resize: 'true'
          displayName: Test1
          freeformTags:
            cloud_custodian: 'true'
            custodian_development: 'true'
            multi_account: 'true'
            output: 'true'
            project: PSM
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-06T04:47:26.574Z'
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-05-04T08:44:04.406Z'
            cloud-custodian-test:
              mark-for-resize: 'true'
          displayName: test
          freeformTags:
            max_limit: unlimited
            natural: 'false'
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-05-04T08:44:04.517Z'
        - additionalDetails: {}
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@exampl[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/n
  response:
    body:
      data: idimd1fghobk
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/n/<namepsace>/b?compartmentId=ocid1.tenancy.oc1..<unique_ID>&fields=tags
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-02-08T07:12:51.021Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        etag: fabd3663-04b7-4cb1-b0f2-4d0f9c086ff9
        freeformTags:
          cloud_custodian: 'true'
          max_limit: unlimited
          natural: 'false'
        name: PaaSProvisioning
        namespace: <namespace>
        timeCreated: '2022-02-08T07:12:51.040Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-03-27T05:40:34.825Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        etag: 5b1a029c-6a25-43fc-bd99-35b40a2f2a2f
        freeformTags:
          max_limit: unlimited
          natural: 'false'
        name: jit-chk-bkt
        namespace: <namespace>
        timeCreated: '2023-03-27T05:40:34.846Z'
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/n/<namepsace>/b?compartmentId=ocid1.compartment.oc1..<unique_ID>&fields=tags
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.saml2idp.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-06T04:47:26.556Z'
          cloud-custodian-test:
            [...]
[...]
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://www-proxy.us.oracle.com:80/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: Disabled
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-07-14T06:03:27.692Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        etag: 3058065d-491c-4797-a490-964f4a112d77
        freeformTags:
          Project: CNCF
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: ObjectRead
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-07-14T06:03:27.721Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - 3058065d-491c-4797-a490-964f4a112d77
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/n/<namepsace>/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-07-14T06:03:27.692Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        etag: 3058065d-491c-4797-a490-964f4a112d77
        freeformTags:
          Project: CNCF
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: <namespace>
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: ObjectRead
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-07-14T06:03:27.721Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - 3058065d-491c-4797-a490-964f4a112d77
      x-api-id:
      - native
    status:
      code: 200
      message: OK
version: 1
