interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        dbUserName: user@example.com
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
        description: user@example.com
        emailVerified: true
        externalIdentifier: c5571b54909a443685e610af14bcf73b
        freeformTags:
          Contractor: 'True'
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2022-07-15T08:25:13.055Z'
        timeModified: '2023-06-15T07:46:35.168Z'
    headers:
      content-type:
      - application/json
      etag:
      - 393ccea2d8aaf3fad414458040327337b4599133
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/groups?compartmentId=ocid1.tenancy.oc1..<unique_ID>
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags: {}
        description: Administrators
        freeformTags: {}
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Administrators
        timeCreated: '2021-02-01T14:28:04.809Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-02-20T21:08:31.362Z'
        description: Dev group for Cloud Custodian
        freeformTags:
          custodian_dev: 'true'
          key_limit: '3'
          test: 'true'
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: cloud-custodian-group-dev
        timeCreated: '2023-02-20T21:08:31.397Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T17:57:25.020Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: Present
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Dev-Group
        timeCreated: '2023-06-15T17:57:25.052Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-11-16T05:29:56.925Z'
        description: Users in this group have the ability to manage fleets.
        freeformTags: {}
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: FLEET_MANAGERS
        timeCreated: '2022-11-16T05:29:56.990Z'
    headers:
      content-type:
      - application/json
      opc-limit:
      - '100'
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://www-proxy.us.oracle.com:80/20160918/groups/ocid1.group.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T17:57:25.020Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: Present
          Environment: Development
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Dev-Group
        timeCreated: '2023-06-15T17:57:25.052Z'
    headers:
      content-type:
      - application/json
      etag:
      - 5698b49a235222231d99e33fc3be3082ab1d30e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/groups/ocid1.group.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T17:57:25.020Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: Present
          Environment: Development
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Dev-Group
        timeCreated: '2023-06-15T17:57:25.052Z'
    headers:
      content-type:
      - application/json
      etag:
      - 5698b49a235222231d99e33fc3be3082ab1d30e8
    status:
      code: 200
      message: OK
version: 1
