interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        id: ocid1.user.oc1..<unique_ID>
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources
  response:
    body:
      data:
        items:
        - additionalDetails: {}
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-15T12:09:24.267Z'
          displayName: testzone.com
          freeformTags:
            Project: CNCF
          identifier: ocid1.dns-zone.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: ACTIVE
          resourceType: CustomerDnsZone
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-15T12:09:24.350Z'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones?compartmentId=ocid1.compartment.oc1..<unique_ID>&scope=PRIVATE
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2021-07-21T14:44:41.343Z'
        id: ocid1.dns-zone.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: test1.oraclevcn.com
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2021-07-21T14:44:43.720Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneType: PRIMARY
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:09:24.267Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        freeformTags:
          Project: CNCF
        id: ocid1.dns-zone.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: testzone.com
        zoneType: PRIMARY
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
