interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones?compartmentId=ocid1.compartment.oc1..<unique_ID>&scope=PRIVATE
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T11:10:11.423Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags:
          Project: CNCF
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: false
        lifecycleState: ACTIVE
        name: testzone.com
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2023-06-09T11:10:11.520Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneType: PRIMARY
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-08T16:44:39.077Z'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags:
          Environment: Development
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: true
        lifecycleState: ACTIVE
        name: subnet06082214.vcn06082214.oraclevcn.com
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 2
        timeCreated: '2023-06-08T16:44:40.644Z'
        version: '2'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneType: PRIMARY
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-08T16:44:32.674Z'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags:
          Environment: Development
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: true
        lifecycleState: ACTIVE
        name: 0.10.in-addr.arpa
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 2
        timeCreated: '2023-06-08T16:44:36.966Z'
        version: '2'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneType: PRIMARY
    headers:
      content-type:
      - application/json
      opc-total-items:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T11:10:11.423Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        dnssecConfig: null
        dnssecState: DISABLED
        externalDownstreams: []
        externalMasters: []
        freeformTags:
          Environment: Development
          Project: CNCF
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: false
        lifecycleState: ACTIVE
        name: testzone.com
        nameservers:
        - hostname: vcn-dns.oraclevcn.com.
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2023-06-09T11:10:11.520Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneTransferServers: []
        zoneType: PRIMARY
    headers:
      content-type:
      - application/json
      etag:
      - '"1ocid1.dns-zone.oc1.iad.aaaaaaaajxh3q3mbj25tk3phx2xl4amzxion3ftdqgsx3h25b5vmdvsco4va05bd2d31ee648f9d43070faaedff8534#application/json"'
      opc-work-request-id:
      - ocid1.coreservicesworkrequest.oc1.iad.abuwcljs3wpm3bny4wiazuoa7xsa6pmhz3aegfp322uspwooj5tpf3wbz7sq
    status:
      code: 200
      message: OK
[...]
