interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          key_old: 'true'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-01T07:07:57.250Z'
    headers:
      content-type:
      - application/json
      etag:
      - b03e98f10a06575a003e9bb0cb0bd1006b1a6062
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources?limit=50
  response:
    body:
      data:
        items:
        - additionalDetails:
            createdBy: null
            kmsKeyId: null
            namespace: idimd1fghobk
            publicAccessType: ObjectRead
            storageTier: Standard
          availabilityDomain: ''
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-01T13:26:27.753Z'
          displayName: test_bucket
          freeformTags:
            Project: CNCF
          identifier: ocid1.bucket.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: active
          resourceType: Bucket
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-01T13:26:27.767Z'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/idimd1fghobk/b/test_bucket
  response:
    body:
      data:
        approximateCount: null
        approximateSize: null
        approximateSizeMultipartUploads: null
        autoTiering: Disabled
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-01T13:26:27.753Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        etag: 189daa3f-b327-40e3-9549-bca5801a981d
        freeformTags:
          Project: CNCF
        id: ocid1.bucket.oc1..<unique_ID>
        isReadOnly: false
        kmsKeyId: null
        metadata: {}
        meterFlagSet:
          empty: true
        name: test_bucket
        namespace: idimd1fghobk
        objectEventsEnabled: false
        objectLevelAuditMode: Disabled
        publicAccessType: ObjectRead
        replicationEnabled: false
        storageTier: Standard
        timeCreated: '2023-06-01T13:26:27.767Z'
        versioning: Disabled
    headers:
      content-type:
      - application/json
      etag:
      - 189daa3f-b327-40e3-9549-bca5801a981d
      x-api-id:
      - native
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://objectstorage.us-ashburn-1.oraclecloud.com/n/idimd1fghobk/b?compartmentId=ocid1.compartment.oc1..<unique_ID>&limit=50&fields=tags
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        createdBy: ocid1.user.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-01T13:26:27.753Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        etag: 189daa3f-b327-40e3-9549-bca5801a981d
        freeformTags:
          Project: CNCF
        name: test_bucket
        namespace: idimd1fghobk
        timeCreated: '2023-06-01T13:26:27.767Z'
    headers:
      content-type:
      - application/json
      x-api-id:
      - native
    status:
      code: 200
      message: OK
version: 1
