interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/groups?compartmentId=ocid1.tenancy.oc1..<unique_ID>
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags: {}
        description: Administrators
        freeformTags: {}
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Administrators
        timeCreated: '2021-02-01T14:28:04.809Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-02T15:13:17.137Z'
        description: CC Test
        freeformTags:
          TagName: TagValue
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: CC_TEST_001
        timeCreated: '2023-06-02T15:13:17.183Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-02-20T21:08:31.362Z'
        description: Dev group for Cloud Custodian
        freeformTags:
          custodian_dev: 'true'
          key_limit: '3'
          test: 'true'
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: cloud-custodian-group-dev
        timeCreated: '2023-02-20T21:08:31.397Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T05:58:56.358Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: Present
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Dev-Group
        timeCreated: '2023-06-09T05:58:56.386Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-11-16T05:29:56.925Z'
        description: Users in this group have the ability to manage fleets.
        freeformTags: {}
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: FLEET_MANAGERS
        timeCreated: '2022-11-16T05:29:56.990Z'
    headers:
      content-type:
      - application/json
      opc-limit:
      - '98'
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/groups/ocid1.group.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T05:58:56.358Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: Present
          Environment: Development
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Dev-Group
        timeCreated: '2023-06-09T05:58:56.386Z'
    headers:
      content-type:
      - application/json
      etag:
      - afafb5422afe02a169dbbd2e294b1c5ef81cb6c9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/groups/ocid1.group.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T05:58:56.358Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: Present
          Environment: Development
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Dev-Group
        timeCreated: '2023-06-09T05:58:56.386Z'
    headers:
      content-type:
      - application/json
      etag:
      - afafb5422afe02a169dbbd2e294b1c5ef81cb6c9
    status:
      code: 200
      message: OK
version: 1
