interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/vcns?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T11:59:52.474Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-09T11:59:52.599Z'
        vcnDomainName: testvcn.oraclevcn.com
      - cidrBlock: 10.0.0.0/16
        cidrBlocks:
        - 10.0.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-08T16:44:32.674Z'
        displayName: vcn-20230608-2214
        dnsLabel: vcn06082214
        freeformTags: {}
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-08T16:44:32.835Z'
        vcnDomainName: vcn06082214.oraclevcn.com
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/vcns/ocid1.vcn.oc1..<unique_ID>
  response:
    body:
      data:
        cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T11:59:52.474Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-09T11:59:52.599Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
      etag:
      - c79a861c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/vcns/ocid1.vcn.oc1..<unique_ID>
  response:
    body:
      data:
        cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T11:59:52.474Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-09T11:59:52.599Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
      etag:
      - c79a861c
    status:
      code: 200
      message: OK
version: 1
