interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        dbUserName: user@example.com
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
        description: user@example.com
        emailVerified: true
        externalIdentifier: c5571b54909a443685e610af14bcf73b
        freeformTags:
          Contractor: 'True'
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2022-07-15T08:25:13.055Z'
        timeModified: '2023-06-21T09:20:37.521Z'
    headers:
      content-type:
      - application/json
      etag:
      - 31ff068d7314192e8d5de6e0397f28186f61005e
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://www-proxy.us.oracle.com:80/20180409/resources
  response:
    body:
      data:
        items:
        - additionalDetails: {}
          availabilityDomain: NQNU:US-ASHBURN-AD-1
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-07-14T05:00:00.166Z'
          displayName: instance20230714050000
          freeformTags:
            Project: CNCF
          identifier: ocid1.instance.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: PROVISIONING
          resourceType: Instance
          searchContext: null
          systemTags: {}
          timeCreated: '2023-07-14T05:00:00.963Z'
        - additionalDetails: {}
          availabilityDomain: NQNU:US-ASHBURN-AD-1
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-07-14T04:57:26.782Z'
          displayName: instance20230714045727
          freeformTags:
            Project: CNCF
          identifier: ocid1.instance.oc1..<unique_ID>
          i[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/instances?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig:
          - desiredState: DISABLED
            name: Vulnerability Scanning
          - desiredState: DISABLED
            name: Oracle Java Management Service
          - desiredState: ENABLED
            name: OS Management Service Agent
          - desiredState: ENABLED
            name: Custom Logs Monitoring
          - desiredState: ENABLED
            name: Compute Instance Run Command
          - desiredState: ENABLED
            name: Compute Instance Monitoring
          - desiredState: DISABLED
            name: Block Volume Management
          - desiredState: DISABLED
            name: Bastion
          - desiredState: ENABLED
            name: Management Agent
        availabilityConfig:
          isLiveMigrationPreferred: null
          recoveryAction: RESTORE_INSTANCE
        availabilityDomain: NQNU:US-ASHBURN-AD-1
        capacityReservationId: null
        clusterPlacementGroupId: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        dedicatedVmHostId: null
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-09-06T08:36:15.789Z'
        displayName: jumperhost
        extendedMetadata: {}
        faultDomain: FAULT-DOMAIN-2
        freeformTags:
          eligible_for_resize_vv: 'true'
          need_action: 'true'
        id: ocid1.instance.oc1..<unique_ID>
        imageId: ocid1.image.oc1..<unique_ID>
        instanceConfigurationId: null
        instanceOptions:
          areLegacyImdsEndpointsDisabled: false
        ipxeScript: null
        isCrossNumaNode: false
        launchMode: PARAVIRTUALIZED
        launchOptions:
          bootVolumeType: PARAVIRTUALIZED
          firmware: UEFI_64
          isConsistentVolumeNamingEnabled: true
          isEncryptionInTransitEnabled: null
          isPvEncryptionInTransitEnabled: true
          networkType: PARAVIRTUALIZED
          remoteDataVolumeType: PARAVIRTUALIZED
        lifecycleState: STOPPED
        platformConfig: null
        preemptibleInstanceConfig: null
        preferredMaintenanceAction: null
        region: iad
        shape: VM.Standard.E4.Flex
        shapeConfig:
          baselineOcpuUtilization: null
          gpuDescription: null
          gpus: 0
          localDiskDescription: null
          localDisks: 0
          localDisksTotalSizeInGBs: null
          maxVnicAttachments: 2
          memoryInGBs: 8.0
          networkingBandwidthInGbps: 1.0
          ocpus: 1.0
          processorDescription: "2.55 GHz AMD EPYC\u2122 7J13 (Milan)"
          vcpus: 2
        sourceDetails:
          bootVolumeSizeInGBs: null
          bootVolumeVpusPerGB: null
          imageId: ocid1.image.oc1..<unique_ID>
          instanceSourceImageFilterDetails: null
          kmsKeyId: null
          sourceType: image
        systemTags: {}
        timeCreated: '2022-09-06T08:36:16.460Z'
        timeMaintenanceRebootDue: null
        timeStopScheduled: null
      - agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig:
          - desiredState: ENABLED
            name: Management Agent
        availabilityConfig:
          isLiveMigrationPreferred: null
          recoveryAction: RESTORE_INSTANCE
        availabilityDomain: NQNU:US-ASHBURN-AD-2
        capacityReservationId: null
        clusterPlacementGroupId: null
        compartmentId: ocid1.[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/instances?compartmentId=ocid1.tenancy.oc1..<unique_ID>
  response:
    body:
      data:
      - agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig:
          - desiredState: DISABLED
            name: Vulnerability Scanning
          - desiredState: ENABLED
            name: OS Manageme[...]
[...]
- request:
    body: null
    headers: {}
    method: POST
    uri: https://www-proxy.us.oracle.com:80/20160918/instances/ocid1.instance.oc1..<unique_ID>
  response:
    body:
      data:
        agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig: null
        availabilityConfig:
          isLiveMigrationPreferred: null
          recoveryAction: RESTORE_INSTANCE
        availabilityDomain: NQNU:U[...]
[...]
