interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/compartments?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-08T01:29:02.817Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
        id: ocid1.compartment.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-08T01:29:02.959Z'
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-05-18T13:22:10.717Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: 'True'
          Environment: Development
        id: ocid1.compartment.oc1..<unique_ID>
        lifecycleState: DELETED
        name: custodian-test1.XB8vaDrv
        timeCreated: '2023-05-18T13:22:10.950Z'
    headers:
      content-type:
      - application/json
      opc-limit:
      - '99'
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/compartments/ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-08T01:29:02.817Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
          Environment: Development
        id: ocid1.compartment.oc1..<unique_ID>
        isAccessible: true
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-08T01:29:02.959Z'
    headers:
      content-type:
      - application/json
      etag:
      - 98120f468e500e56e59b6ef05f97d6a1a074cd32
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/compartments/ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-08T01:29:02.817Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian_Test: 'True'
          Environment: Development
        id: ocid1.compartment.oc1..<unique_ID>
        isAccessible: true
        lifecycleState: ACTIVE
        name: Cloud-Custodian-Test1
        timeCreated: '2023-06-08T01:29:02.959Z'
    headers:
      content-type:
      - application/json
      etag:
      - 98120f468e500e56e59b6ef05f97d6a1a074cd32
    status:
      code: 200
      message: OK
version: 1
