interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          key_old: 'true'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-01T07:07:57.250Z'
    headers:
      content-type:
      - application/json
      etag:
      - b03e98f10a06575a003e9bb0cb0bd1006b1a6062
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources?limit=50
  response:
    body:
      data:
        items:
        - additionalDetails:
            description: Custodian Test
            inactiveStatus: 0
            name: custodian-test1
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-05-18T13:22:10.717Z'
          displayName: Custodian-Test1
          freeformTags:
            Cloud_Custodian: 'True'
            Environment: Development
            custodian_development: 'true'
          identifier: ocid1.compartment.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: ACTIVE
          resourceType: Compartment
          searchContext: null
          systemTags: {}
          timeCreated: '2023-05-18T13:22:10.950Z'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/compartments/ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-05-18T13:22:10.717Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: 'True'
          Environment: Development
          custodian_development: 'true'
        id: ocid1.compartment.oc1..<unique_ID>
        isAccessible: true
        lifecycleState: ACTIVE
        name: Custodian-Test1
        timeCreated: '2023-05-18T13:22:10.950Z'
    headers:
      content-type:
      - application/json
      etag:
      - ed91564a9ebae5a149a70c0f83c9e90fbd099597
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/compartments?compartmentId=ocid1.compartment.oc1..<unique_ID>&limit=50
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-05-18T13:22:10.717Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: 'True'
          Environment: Development
          custodian_development: 'true'
        id: ocid1.compartment.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Test1
        timeCreated: '2023-05-18T13:22:10.950Z'
    headers:
      content-type:
      - application/json
      opc-limit:
      - '50'
    status:
      code: 200
      message: OK
version: 1
