interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/instances?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig:
          - desiredState: DISABLED
            name: Vulnerability Scanning
          - desiredState: DISABLED
            name: Oracle Java Management Service
          - desiredState: ENABLED
            name: OS Management Service Agent
          - desiredState: ENABLED
            name: Custom Logs Monitoring
          - desiredState: ENABLED
            name: Compute Instance Run Command
          - desiredState: ENABLED
            name: Compute Instance Monitoring
          - desiredState: DISABLED
            name: Block Volume Management
          - desiredState: DISABLED
            name: Bastion
          - desiredState: ENABLED
            name: Management Agent
        availabilityConfig:
          isLiveMigrationPreferred: null
          recoveryAction: RESTORE_INSTANCE
        availabilityDomain: NQNU:US-ASHBURN-AD-1
        capacityReservationId: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        dedicatedVmHostId: null
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T06:41:33.444Z'
        displayName: cc_ag
        extendedMetadata: {}
        faultDomain: FAULT-DOMAIN-3
        freeformTags: {}
        id: ocid1.instance.oc1..<unique_ID>
        imageId: ocid1.image.oc1..<unique_ID>
        instanceConfigurationId: null
        instanceOptions:
          areLegacyImdsEndpointsDisabled: false
        ipxeScript: null
        isCrossNumaNode: false
        launchMode: PARAVIRTUALIZED
        launchOptions:
          bootVolumeType: PARAVIRTUALIZED
          firmware: UEFI_64
          isConsistentVolumeNamingEnabled: true
          isPvEncryptionInTransitEnabled: true
          networkType: PARAVIRTUALIZED
          remoteDataVolumeType: PARAVIRTUALIZED
        lifecycleState: TERMINATED
        platformConfig: null
        preemptibleInstanceConfig: null
        preferredMaintenanceAction: null
        region: iad
        shape: VM.Standard.E4.Flex
        shapeConfig:
          baselineOcpuUtilization: null
          gpuDescription: null
          gpus: 0
          localDiskDescription: null
          localDisks: 0
          localDisksTotalSizeInGBs: null
          maxVnicAttachments: 2
          memoryInGBs: 16.0
          networkingBandwidthInGbps: 1.0
          ocpus: 1.0
          processorDescription: "2.55 GHz AMD EPYC\u2122 7J13 (Milan)"
          vcpus: 2
        sourceDetails:
          bootVolumeSizeInGBs: null
          bootVolumeVpusPerGB: null
          imageId: ocid1.image.oc1..<unique_ID>
          instanceSourceImageFilterDetails: null
          kmsKeyId: null
          sourceType: image
        systemTags: {}
        timeCreated: '2023-06-15T06:41:34.131Z'
        timeMaintenanceRebootDue: null
        timeStopScheduled: null
      - agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig:
          - desiredState: DISABLED
            name: Vulnerability Scanning
          - desiredState: DISABLED
            name: Oracle Java Management Service
          - desiredState: ENABLED
            name: OS Management Service Agent
          - desiredState: ENABLED
            name: Custom Logs Monitoring
          - desire[...]
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://telemetry.us-ashburn-1.oraclecloud.com/20180401/metrics/actions/summarizeMetricsData?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - aggregatedDatapoints:
        - timestamp: '2023-06-15T10:15:00.000Z'
          value: 1.0
        - timestamp: '2023-06-15T10:16:00.000Z'
          value: 1.0
        - timestamp: '2023-06-15T10:17:00.000Z'
          value: 1.0
        - timestamp: '2023-06-15T10:18:00.000Z'
          value: 1.0
        - timestamp: '2023-06-15T10:19:00.000Z'
          value: 1.0
        - timestamp: '2023-06-15T10:20:00.000Z'
          value: 1.0
        - timestamp: '2023-06-15T10:21:00.000Z'
          value: 1.0
        - timestamp: '2023-06-15T10:22:00.000Z'
          value: 1.0
        - ti[...]
