interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          key_old: 'true'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-01T07:07:57.250Z'
    headers:
      content-type:
      - application/json
      etag:
      - b03e98f10a06575a003e9bb0cb0bd1006b1a6062
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources?limit=50
  response:
    body:
      data:
        items:
        - additionalDetails:
            description: Custodian Test
            domainDisplayName: null
            domainName: null
            domainOcid: null
            inactiveStatus: 0
            name: custodian-dev-group
          availabilityDomain: null
          compartmentId: ocid1.tenancy.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-01T13:34:56.752Z'
          displayName: Custodian-Dev-Group
          freeformTags:
            Cloud_Custodian: Present
          identifier: ocid1.group.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: ACTIVE
          resourceType: Group
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-01T13:34:56.791Z'
        - additionalDetails:
            description: This dynamic group is for SMP testing
            domainDisplayName: null
            domainName: null
            domainOcid: null
            inactiveStatus: 0
            name: psm_smp_test_001
          availabilityDomain: null
          compartmentId: ocid1.tenancy.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              [...]
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/groups/ocid1.group.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-01T13:34:56.752Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: Present
          Environment: Development
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Dev-Group
        timeCreated: '2023-06-01T13:34:56.791Z'
    headers:
      content-type:
      - application/json
      etag:
      - c891e3519224940663b979a62bba0e9d064942c2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/groups?compartmentId=ocid1.tenancy.oc1..<unique_ID>&limit=50
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags: {}
        description: Administrators
        freeformTags: {}
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Administrators
        timeCreated: '2021-02-01T14:28:04.809Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-02-20T21:08:31.362Z'
        description: Dev group for Cloud Custodian
        freeformTags:
          custodian_dev: 'true'
          key_limit: '3'
          test: 'true'
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: cloud-custodian-group-dev
        timeCreated: '2023-02-20T21:08:31.397Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-01T13:34:56.752Z'
        description: Custodian Test
        freeformTags:
          Cloud_Custodian: Present
          Environment: Development
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: Custodian-Dev-Group
        timeCreated: '2023-06-01T13:34:56.791Z'
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-11-16T05:29:56.925Z'
        description: Users in this group have the ability to manage fleets.
        freeformTags: {}
        id: ocid1.group.oc1..<unique_ID>
        lifecycleState: ACTIVE
        name: FLEET_MANAGERS
        timeCreated: '2022-11-16T05:29:56.990Z'
    headers:
      content-type:
      - application/json
      opc-limit:
      - '49'
    status:
      code: 200
      message: OK
version: 1
