interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          key_old: 'true'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-01T07:07:57.250Z'
    headers:
      content-type:
      - application/json
      etag:
      - b03e98f10a06575a003e9bb0cb0bd1006b1a6062
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources?limit=50
  response:
    body:
      data:
        items:
        - additionalDetails:
            byoipv6CidrBlocks: null
            cidrBlock: 10.1.20.0/24
            dhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
            dnsLabel: testsubnet
            ipv6CidrBlock: null
            ipv6CidrBlocks: null
            ipv6VirtualRouterIp: null
            prohibitPublicIpOnVnic: false
            publicIpv6CidrBlock: null
            routeTableId: ocid1.routetable.oc1..<unique_ID>
            securityListIds:
            - ocid1.securitylist.oc1..<unique_ID>
            subnetDomainName: testsubnet.testvcn.oraclevcn.com
            vcnId: ocid1.vcn.oc1..<unique_ID>
            virtualRouterIp: 10.1.20.1
            virtualRouterMac: 00:00:17:06:15:D4
          availabilityDomain: NQNU:US-ASHBURN-AD-1
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-01T13:23:25.094Z'
            cloud-custodian-test:
              mark-for-resize: 'false'
          displayName: TestSubnet
          freeformTags:
            Environment: Development
            Project: CNCF
          identifier: ocid1.subnet.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: AVAILABLE
          resourceType: Subnet
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-01T13:23:25.326Z'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
