interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        dbUserName: user@example.com
        definedTags:
          Oracle-Tags:
            CreatedBy: Some
          OracleInternalReserved:
            Phonebook: '9800'
        description: user@example.com
        emailVerified: true
        externalIdentifier: c5571b54909a443685e610af14bcf73b
        freeformTags:
          Contractor: 'True'
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2022-07-15T08:25:13.055Z'
        timeModified: '2023-06-21T09:20:37.521Z'
    headers:
      content-type:
      - application/json
      etag:
      - 31ff068d7314192e8d5de6e0397f28186f61005e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/vcns?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-07-14T06:35:23.319Z'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-07-14T06:35:23.803Z'
        vcnDomainName: testvcn.oraclevcn.com
      - cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-21T04:49:29.445Z'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags: {}
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-21T04:49:29.554Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://www-proxy.us.oracle.com:80/20160918/vcns/ocid1.vcn.oc1..<unique_ID>
  response:
    body:
      data:
        cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-07-14T06:35:23.319Z'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Environment: Development
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-07-14T06:35:23.803Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
      etag:
      - ebf2c122
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www-proxy.us.oracle.com:80/20160918/vcns/ocid1.vcn.oc1..<unique_ID>
  response:
    body:
      data:
        cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-07-14T06:35:23.319Z'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Environment: Development
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-07-14T06:35:23.803Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
      etag:
      - ebf2c122
    status:
      code: 200
      message: OK
version: 1
