interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources
  response:
    body:
      data:
        items:
        - additionalDetails: {}
          availabilityDomain: NQNU:US-ASHBURN-AD-1
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-09T12:35:27.686Z'
            cloud-custodian-test:
              mark-for-resize: 'false'
          displayName: TestSubnet
          freeformTags:
            Project: CNCF
          identifier: ocid1.subnet.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: AVAILABLE
          resourceType: Subnet
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-09T12:35:28.774Z'
        - additionalDetails: {}
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-08T16:44:39.077Z'
          displayName: subnet-20230608-2214
          freeformTags: {}
          identifier: ocid1.subnet.oc1..<unique_ID>
          identityContext: {}
          lifecycleState[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/subnets?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - cidrBlock: 10.0.1.0/24
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-03-10T17:35:42.544Z'
        dhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        displayName: xplanesubnet
        dnsLabel: xplanesubnet
        freeformTags: {}
        id: ocid1.subnet.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        prohibitInternetIngress: false
        prohibitPublicIpOnVnic: false
        routeTableId: ocid1.routetable.oc1..<unique_ID>
        securityListIds:
        - ocid1.securitylist.oc1..<unique_ID>
        subnetDomainName: xplanesubnet.vcn09061404.oraclevcn.com
        timeCreated: '2023-03-10T17:35:42.612Z'
        vcnId: ocid1.vcn.oc1..<unique_ID>
        virtualRouterIp: 10.0.1.1
        virtualRouterMac: 00:00:17:A3:43:D3
      - cidrBlock: 10.0.0.0/24
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-09-06T08:36:09.966Z'
        dhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        displayName: mysubnet
        dnsLabel: subnet09061406
        freeformTags: {}
        id: ocid1.subnet.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        prohibitInternetIngress: fal[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/subnets?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - availabilityDomain: NQNU:US-ASHBURN-AD-1
        cidrBlock: 10.1.20.0/24
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T12:35:27.686Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        dhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        displayName: TestSubnet
        dnsLabel: testsubnet
        freeformTags:
          Environment: Production
          Project: CNCF
        id: ocid1.subnet.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        prohibitInternetIngress: false
        prohibitPublicIpOnVnic: false
        routeTableId: ocid1.routetable.oc1..<unique_ID>
        securityListIds:
        - ocid1.securitylist.oc1..<unique_ID>
        subnetDomainName: testsubnet.testvcn.oraclevcn.com
        timeCreated: '2023-06-09T12:35:28.774Z'
        vcnId: ocid1.vcn.oc1..<unique_ID>
        virtualRouterIp: 10.1.20.1
[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/subnets?compartmentId=ocid1.tenancy.oc1..<unique_ID>
  response:
    body:
      data:
      - cidrBlock: 10.0.0.0/24
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2021-03-26T14:24:30.858Z'
        dhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        displayName: subnet-20210326-1022
        dnsLabel: subnet03261024
        freeformTags: {}
        id: ocid1.subnet.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        prohibitInternetIngress: false
        prohibitPublicIpOnVnic: false
        routeTableId: ocid1.routetable.oc1..<unique_ID>
        securityListIds:
        - ocid1.securitylist.oc1..<unique_ID>
        subnetDomainName: subnet03261024.vcn03261024.oraclevcn.com
        timeCreated: '2021-03-26T14:24:31.406Z'
        vcnId: ocid1.vcn.oc1..<unique_ID>
        virtualRouterIp: 10.0.0.1
        virtualRouterMac: 00:00:17:9D:6D:17
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/subnets?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - cidrBlock: 10.0.0.0/24
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2022-08-11T11:22:30.768Z'
        dhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        displayName: subnet-20220811-1651
        dnsLabel: subnet08111652
        freeformTags:
          custodian_dev: 'true'
          restricted_access: 'true'
        id: ocid1.subnet.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        prohibitInternetIngress: false
        prohibitPublicIpOnVnic: false
        routeTableId: ocid1.routetable.oc1..<unique_ID>
        securityListIds:
        - ocid1.securitylist.oc1..<unique_ID>
        subnetDomainName: subnet08111652.vcn08111652.oraclevcn.com
        timeCreated: '2022-08-11T11:22:31.000Z'
        vcnId: ocid1.vcn.oc1..<unique_ID>
        virtualRouterIp: 10.0.0.1
        virtualRouterMac: 00:00:17:B6:B6:9B
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/subnets/ocid1.subnet.oc1..<unique_ID>
  response:
    body:
      data:
        availabilityDomain: NQNU:US-ASHBURN-AD-1
        cidrBlock: 10.1.20.0/24
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T12:35:27.686Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        dhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        displayName: TestSubnet
        dnsLabel: testsubnet
        freeformTags:
          Environment: Production
        id: ocid1.subnet.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        prohibitInternetIngress: false
        prohibitPublicIpOnVnic: false
        routeTableId: ocid1.routetable.oc1..<unique_ID>
        securityListIds:
        - ocid1.securitylist.oc1..<unique_ID>
        subnetDomainName: testsubnet.testvcn.oraclevcn.com
        timeCreated: '2023-06-09T12:35:28.774Z'
        vcnId: ocid1.vcn.oc1..<unique_ID>
        virtualRouterIp: 10.1.20.1
        virtualRouterMac: 00:00:17:74:81:F8
    headers:
      content-type:
      - application/json
      etag:
      - 1fa2f5b5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/subnets/ocid1.subnet.oc1..<unique_ID>
  response:
    body:
      data:
        availabilityDomain: NQNU:US-ASHBURN-AD-1
        cidrBlock: 10.1.20.0/24
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T12:35:27.686Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        dhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        displayName: TestSubnet
        dnsLabel: testsubnet
        freeformTags:
          Environment: Production
        id: ocid1.subnet.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        prohibitInternetIngress: false
        prohibitPublicIpOnVnic: false
        routeTableId: ocid1.routetable.oc1..<unique_ID>
        securityListIds:
        - ocid1.securitylist.oc1..<unique_ID>
        subnetDomainName: testsubnet.testvcn.oraclevcn.com
        timeCreated: '2023-06-09T12:35:28.774Z'
        vcnId: ocid1.vcn.oc1..<unique_ID>
        virtualRouterIp: 10.1.20.1
        virtualRouterMac: 00:00:17:74:81:F8
    headers:
      content-type:
      - application/json
      etag:
      - 1fa2f5b5
    status:
      code: 200
      message: OK
version: 1
