interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-02-14T16:54:52.134Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: 3fcb0b0c6a3844ca8dad3bd6a92e3537
        freeformTags:
          TagName: TagValue
          api-keys: test
          key_old: 'true'
          max_api_keys_limit_reached: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-02-14T16:54:52.216Z'
        timeModified: '2023-06-08T07:59:26.410Z'
    headers:
      content-type:
      - application/json
      etag:
      - e4384ad3ce46f76cf4cfc837226fe90c7a81112a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/instances?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig: null
        availabilityConfig:
          isLiveMigrationPreferred: null
          recoveryAction: RESTORE_INSTANCE
        availabilityDomain: NQNU:US-ASHBURN-AD-1
        capacityReservationId: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        dedicatedVmHostId: null
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T21:34:19.685Z'
        displayName: instance20230609213420
        extendedMetadata: {}
        faultDomain: FAULT-DOMAIN-1
        freeformTags:
          Project: CNCF
        id: ocid1.instance.oc1..<unique_ID>
        imageId: ocid1.image.oc1..<unique_ID>
        instanceConfigurationId: null
        instanceOptions:
          areLegacyImdsEndpointsDisabled: false
        ipxeScript: null
        isCrossNumaNode: false
        launchMode: NATIVE
        launchOptions:
          bootVolumeType: PARAVIRTUALIZED
          firmware: UEFI_64
          isConsistentVolumeNamingEnabled: true
          isPvEncryptionInTransitEnabled: false
          networkType: PARAVIRTUALIZED
          remoteDataVolumeType: PARAVIRTUALIZED
        lifecycleState: TERMINATED
        platformConfig: null
        preemptibleInstanceConfig: null
        preferredMaintenanceAction: null
        region: iad
        shape: VM.Standard.E3.Flex
        shapeConfig:
          baselineOcpuUtilization: null
          gpuDescription: null
          gpus: 0
          localDiskDescription: null
          localDisks: 0
          localDisksTotalSizeInGBs: null
          maxVnicAttachments: 2
          memoryInGBs: 1.0
          networkingBandwidthInGbps: 1.0
          ocpus: 1.0
          processorDescription: "2.25 GHz AMD EPYC\u2122 7742 (Rome)"
          vcpus: 2
        sourceDetails:
          bootVolumeSizeInGBs: null
          bootVolumeVpusPerGB: null
          imageId: ocid1.image.oc1..<unique_ID>
          instanceSourceImageFilterDetails: null
          kmsKeyId: null
          sourceType: image
        systemTags: {}
        timeCreated: '2023-06-09T21:34:20.404Z'
        timeMaintenanceRebootDue: null
        timeStopScheduled: null
      - agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig: null
        availabilityConfig:
          isLiveMigrationPreferred: null
          recoveryAction: RESTORE_INSTANCE
        availabilityDomain: NQNU:US-ASHBURN-AD-1
        capacityReservationId: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        dedicatedVmHostId: null
        definedTags:
          Oracle-Tag[...]
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/instances/ocid1.instance.oc1..<unique_ID>
  response:
    body:
      data:
        agentConfig:
          areAllPluginsDisabled: false
          isManagementDisabled: false
          isMonitoringDisabled: false
          pluginsConfig: null
        availabilityConfig:
          isLiveMigrationPreferred: null
          recoveryAction: RESTORE_INSTANCE
        availabilityDomain: NQNU:US-ASHBURN-AD-1
        capacityReservationId: null
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        dedicatedVmHostId: null
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-10T02:23:34.195Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        displayName: instance20230610022334
        extendedMetadata: {}
        faultDomain: FAULT-DOMAIN-1
        freeformTags:
          Environment: Development
          Project: CNCF
        id: ocid1.instance.oc1..<unique_ID>
        imageId: ocid1.image.oc1..<unique_ID>
        instanceConfigurationId: null
        instanceOptions:
          areLegacyImdsEndpointsDisabled: false
        ipxeScript: null
        isCrossNumaNode: false
        launchMode: NATIVE
        launchOptions:
          bootVolumeType: PARAVIRTUALIZED
          firmware: UEFI_64
          isConsistentVolumeNamingEnabled: true
          isPvEncryptionInTransitEnabled: false
          networkType: PARAVIRTUALIZED
          remoteDataVolumeType: PARAVIRTUALIZED
        lifecycleState: RUNNING
        metadata: {}
        platformConfig: null
        preemptibleInstanceConfig: null
        preferredMaintenanceAction: null
        region: iad
        shape: VM.Standard.E3.Flex
        shapeConfig:
          baselineOcpuUtilization: null
          gpuDescription: null
          gpus: 0
          localDiskDescription: null
          localDisks: 0
          localDisksTotalSizeInGBs: null
          maxVnicAttachments: 2
          memoryInGBs: 1.0
          networkingBandwidthInGbps: 1.0
          ocpus: 1.0
          processorDescription: "2.25 GHz AMD EPYC\u2122 7742 (Rome)"
          vcpus: 2
        sourceDetails:
          bootVolumeSizeInGBs: null
          bootVolumeVpusPerGB: null
          imageId: ocid1.image.oc1..<unique_ID>
          instanceSourceImageFilterDetails: null
          kmsKeyId: null
          sourceType: image
        systemTags: {}
        timeCreated: '2023-06-10T02:23:34.875Z'
        timeMaintenanceRebootDue: null
        timeStopScheduled: null
    headers:
      content-type:
      - application/json
      etag:
      - 7f808cb5ef7ecbe4467c8b25d764382ecf63c6fa7856dd385ae743443bc673e0
      opc-work-request-id:
      - ocid1.coreservicesworkrequest.oc1.iad.abuwcljrvgp4yhowj5poqxpavztx7ypljokjaudpqumso2z6pu7xqlfhdcwq
    status:
      code: 200
      message: OK
[...]
