interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones?compartmentId=ocid1.compartment.oc1..<unique_ID>&scope=PRIVATE
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-09T11:10:11.423Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags:
          Environment: Production
          Project: CNCF
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: false
        lifecycleState: ACTIVE
        name: testzone.com
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2023-06-09T11:10:11.520Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneType: PRIMARY
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-08T16:44:39.077Z'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags:
          Environment: Development
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: true
        lifecycleState: ACTIVE
        name: subnet06082214.vcn06082214.oraclevcn.com
        scope: PRIVATE
      [...]
