interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          key_old: 'true'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-01T07:07:57.250Z'
    headers:
      content-type:
      - application/json
      etag:
      - b03e98f10a06575a003e9bb0cb0bd1006b1a6062
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources?limit=50
  response:
    body:
      data:
        items:
        - additionalDetails: {}
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-01T13:18:54.035Z'
          displayName: testzone.com
          freeformTags:
            Project: CNCF
          identifier: ocid1.dns-zone.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: ACTIVE
          resourceType: CustomerDnsZone
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-01T13:18:54.255Z'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-01T13:18:54.035Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        dnssecConfig: null
        dnssecState: DISABLED
        externalDownstreams: []
        externalMasters: []
        freeformTags:
          Project: CNCF
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: false
        lifecycleState: ACTIVE
        name: testzone.com
        nameservers:
        - hostname: vcn-dns.oraclevcn.com.
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2023-06-01T13:18:54.255Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneTransferServers: []
        zoneType: PRIMARY
    headers:
      content-type:
      - application/json
      etag:
      - '"1ocid1.dns-zone.oc1.iad.aaaaaaaatam6mtruwakb5j7ra6liak5c2pddmdaipah5yumgqiz57k5atukaa4bc30c45d313f431b73606bf14b670a#application/json"'
      opc-work-request-id:
      - ocid1.coreservicesworkrequest.oc1.iad.abuwcljtdkxxobprjwouzo6zthp666nvmoxy3sezselg4htjhh7ii4jts7pq
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones?limit=50&compartmentId=ocid1.compartment.oc1..<unique_ID>&scope=PRIVATE
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-01T13:18:54.035Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags:
          Project: CNCF
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: false
        lifecycleState: ACTIVE
        name: testzone.com
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2023-06-01T13:18:54.255Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneType: PRIMARY
    headers:
      content-type:
      - application/json
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
version: 1
