interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          TagName: TagValue
          key_old: 'true'
          mfa_activated: 'false'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-08T07:59:25.623Z'
    headers:
      content-type:
      - application/json
      etag:
      - e3d2cb864e2b0f74308b4ead60ac0e65f2b1d7e8
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources
  response:
    body:
      data:
        items:
        - additionalDetails: {}
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-15T12:09:24.267Z'
          displayName: testzone.com
          freeformTags:
            Project: CNCF
          identifier: ocid1.dns-zone.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: ACTIVE
          resourceType: CustomerDnsZone
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-15T12:09:24.350Z'
        - additionalDetails: {}
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-07T11:59:41.019Z'
          displayName: cc1.com
          freeformTags:
            TagName: TagValue
          identifier: ocid1.dns-zone.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: ACTIVE
          resourceType: CustomerDnsZone
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-07T11:59:41.449Z'
        - additionalDetails: {}
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-07T11:56:31.239Z'
            cloud-custodian-test:
              mark-for-resize: 'true'
          displayName: cctest.com
          freeformTags:
            Environment: Development
            TagName: TagValue
          identifier: ocid1.dns-zone.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: ACTIVE
          resourceType: CustomerDnsZone
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-07T11:56:31.694Z'
        - additionalDetails: {}
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              Create[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones?compartmentId=ocid1.compartment.oc1..<unique_ID>&scope=PRIVATE
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: ocid1.flock.oc1..<unique_ID>
            CreatedOn: '2022-08-24T06:58:44.962Z'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags: {}
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: true
        lifecycleState: ACTIVE
        name: psmscansnet.vcnpsm.oraclevcn.com
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2022-08-24T06:58:48.862Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneType: PRIMARY
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: ocid1.flock.oc1..<unique_ID>
            CreatedOn: '2022-08-24T06:58:41.317Z'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags: {}
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: true
        lifecycleState: ACTIVE
        name: psmuiregsnet.vcnpsm.oraclevcn.com
        scope: PRIVATE
        self: https://dns.us-ashb[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones?compartmentId=ocid1.compartment.oc1..<unique_ID>&scope=PRIVATE
  response:
    body:
      data:
      - compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:09:24.267Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags:
          Project: CNCF
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: false
        lifecycleState: ACTIVE
        name: testzone.com
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2023-06-15T12:09:24.350Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneType: PRIMARY
    headers:
      content-type:
      - application/json
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones?compartmentId=ocid1.tenancy.oc1..<unique_ID>&scope=PRIVATE
  response:
    body:
      data:
      - compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2021-03-26T14:24:30.858Z'
        dnssecConfig: null
        dnssecState: DISABLED
        freeformTags: {}
        id[...]
[...]
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:09:24.267Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        dnssecConfig: null
        dnssecState: DISABLED
        externalDownstreams: []
        externalMasters: []
        freeformTags:
          Project: CNCF
        id: ocid1.dns-zone.oc1..<unique_ID>
        isProtected: false
        lifecycleState: ACTIVE
        name: testzone.com
        nameservers:
        - hostname: vcn-dns.oraclevcn.com.
        scope: PRIVATE
        self: https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1..<unique_ID>
        serial: 1
        timeCreated: '2023-06-15T12:09:24.350Z'
        version: '1'
        viewId: ocid1.dnsview.oc1..<unique_ID>
        zoneTransferServers: []
        zoneType: PRIMARY
    headers:
      content-type:
      - application/json
      etag:
      - '"1ocid1.dns-zone.oc1.iad.aaaaaaaafg2o2jynmv2sotcgjhg66snzwxd6bgse263gqg3b2mubq7ujaoeq0d25e7a65284bb566d8a25630380e484#application/json"'
      opc-work-request-id:
      - ocid1.coreservicesworkrequest.oc1.iad.abuwcljtefjcxtaiete4dvyotjfuslk7zndqevbog4ukgkrgtawlpxt2strq
    status:
      code: 200
      message: OK
[...]
