interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        capabilities:
          canUseApiKeys: true
          canUseAuthTokens: true
          canUseConsolePassword: false
          canUseCustomerSecretKeys: true
          canUseDbCredentials: true
          canUseOAuth2ClientCredentials: true
          canUseSmtpCredentials: true
        compartmentId: ocid1.tenancy.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: scim-service
            CreatedOn: '2023-04-25T16:55:50.497Z'
        description: user@example.com
        emailVerified: true
        externalIdentifier: fcf75b1a99fd4dbe9c8f5a11dd69a50c
        freeformTags:
          key_old: 'true'
        id: ocid1.user.oc1..<unique_ID>
        identityProviderId: ocid1.saml2idp.oc1..<unique_ID>
        isMfaActivated: false
        lifecycleState: ACTIVE
        name: user@example.com
        timeCreated: '2023-04-25T16:55:50.537Z'
        timeModified: '2023-06-01T07:07:57.250Z'
    headers:
      content-type:
      - application/json
      etag:
      - b03e98f10a06575a003e9bb0cb0bd1006b1a6062
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources?limit=50
  response:
    body:
      data:
        items:
        - additionalDetails:
            byoipv6CidrBlocks: null
            cidrBlock: 10.1.0.0/16
            cidrBlocks:
            - 10.1.0.0/16
            dnsLabel: testvcn
            ipv6CidrBlock: null
            ipv6CidrBlocks: null
            ipv6PrivateCidrBlocks: null
            publicIpv6CidrBlock: null
            vcnDomainName: testvcn.oraclevcn.com
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-01T13:10:24.478Z'
          displayName: TestVcn
          freeformTags:
            Project: CNCF
          identifier: ocid1.vcn.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: AVAILABLE
          resourceType: Vcn
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-01T13:10:24.597Z'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/vcns/ocid1.vcn.oc1..<unique_ID>
  response:
    body:
      data:
        cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-01T13:10:24.478Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-01T13:10:24.597Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
      etag:
      - ee5d47cd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/vcns?compartmentId=ocid1.compartment.oc1..<unique_ID>&limit=50&displayName=TestVcn
  response:
    body:
      data:
      - cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-01T13:10:24.478Z'
          cloud-custodian-test:
            mark-for-resize: 'false'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-01T13:10:24.597Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
