interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://identity.us-ashburn-1.oci.oraclecloud.com/20160918/users/ocid1.user.oc1..<unique_ID>
  response:
    body:
      data:
        id: ocid1.user.oc1..<unique_ID>
        lifecycleState: ACTIVE
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: POST
    uri: https://query.us-ashburn-1.oci.oraclecloud.com/20180409/resources
  response:
    body:
      data:
        items:
        - additionalDetails: {}
          availabilityDomain: null
          compartmentId: ocid1.compartment.oc1..<unique_ID>
          definedTags:
            Oracle-Tags:
              CreatedBy: user@example.com
              CreatedOn: '2023-06-15T12:18:38.023Z'
          displayName: TestVcn
          freeformTags:
            Project: CNCF
          identifier: ocid1.vcn.oc1..<unique_ID>
          identityContext: {}
          lifecycleState: AVAILABLE
          resourceType: Vcn
          searchContext: null
          systemTags: {}
          timeCreated: '2023-06-15T12:18:38.122Z'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/vcns?compartmentId=ocid1.compartment.oc1..<unique_ID>
  response:
    body:
      data:
      - cidrBlock: 10.1.0.0/16
        cidrBlocks:
        - 10.1.0.0/16
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        defaultDhcpOptionsId: ocid1.dhcpoptions.oc1..<unique_ID>
        defaultRouteTableId: ocid1.routetable.oc1..<unique_ID>
        defaultSecurityListId: ocid1.securitylist.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:18:38.023Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-15T12:18:38.122Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: mock_body
    headers: {}
    method: PUT
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/vcns/ocid1.vcn.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:18:38.023Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-15T12:18:38.122Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://iaas.us-ashburn-1.oraclecloud.com/20160918/vcns/ocid1.vcn.oc1..<unique_ID>
  response:
    body:
      data:
        compartmentId: ocid1.compartment.oc1..<unique_ID>
        definedTags:
          Oracle-Tags:
            CreatedBy: user@example.com
            CreatedOn: '2023-06-15T12:18:38.023Z'
          cloud-custodian-test:
            mark-for-resize: 'true'
        displayName: TestVcn
        dnsLabel: testvcn
        freeformTags:
          Project: CNCF
        id: ocid1.vcn.oc1..<unique_ID>
        lifecycleState: AVAILABLE
        timeCreated: '2023-06-15T12:18:38.122Z'
        vcnDomainName: testvcn.oraclevcn.com
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
