interactions:
- request:
    body: !!python/unicode 'mock_body'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://dc.services.visualstudio.com/v2/track
  response:
    body: {string: !!python/unicode '{"itemsReceived":1,"itemsAccepted":0,"errors":[{"index":0,"statusCode":400,"message":"Invalid
        instrumentation key"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-session-id: [B9E0227F-713F-48E7-BC02-4F6FB3D2F38E]
    status: {code: 400, message: Invalid instrumentation key}
version: 1
