interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeAddresses
      X-TC-Region:
      - na-ashburn
      X-TC-TraceId:
      - 7580f160-28ed-459d-addf-45886f7a1520
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.na-ashburn.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\":{\n        \"TotalCount\":1,\n        \"AddressSet\":[\n
        \           {\n                \"AddressId\":\"eip-60pcyn3l\",\n                \"AddressName\":\"c7n\",\n
        \               \"AddressIp\":\"43.166.136.187\",\n                \"AddressStatus\":\"UNBIND\",\n
        \               \"AddressType\":\"EIP\",\n                \"InstanceId\":null,\n
        \               \"InstanceType\":null,\n                \"NetworkInterfaceId\":null,\n
        \               \"PrivateAddressIp\":null,\n                \"IsArrears\":false,\n
        \               \"IsBlocked\":false,\n                \"IsEipDirectConnection\":false,\n
        \               \"EipAlgType\":{\n                    \"Ftp\":true,\n                    \"Sip\":true\n
        \               },\n                \"LocalBgp\":false,\n                \"CascadeRelease\":false,\n
        \               \"Egress\":\"center_egress1\",\n                \"BusinessType\":\"DC\",\n
        \               \"ApplicableForCLB\":false,\n                \"IsFromWanIP\":false,\n
        \               \"IsNewGeneration\":true,\n                \"IsActiveAccessEip\":true,\n
        \               \"CreatedTime\":\"2024-12-17T07:03:15Z\",\n                \"TagSet\":[\n\n
        \               ],\n                \"NetworkGroup\":\"na-ashburn\",\n                \"ComplianceStatus\":\"NORMAL\",\n
        \               \"BandwidthPackageId\":null,\n                \"EndPointId\":\"\",\n
        \               \"Zone\":\"na-ashburn-1\",\n                \"InternetChargeType\":\"TRAFFIC_POSTPAID_BY_HOUR\",\n
        \               \"Bandwidth\":1,\n                \"UpdatedTime\":\"2024-12-17T07:03:16Z\",\n
        \               \"PayMode\":\"TRAFFIC_POSTPAID_BY_HOUR\",\n                \"DeadlineDate\":null,\n
        \               \"IsEip\":true,\n                \"InternetServiceProvider\":\"BGP\"\n
        \           }\n        ],\n        \"RequestId\":\"16f0629a-baee-468c-84a2-a2a3a4b9a938\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - 7580f160-28ed-459d-addf-45886f7a1520
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::vpc:na-ashburn:uin/100009291175:eip/eip-60pcyn3l"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - na-ashburn
      X-TC-TraceId:
      - 5a8e6e42-36c2-4685-b306-c34297ac65af
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.na-ashburn.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"e7e72778-6899-4089-8ddd-5024c35796a2"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - 5a8e6e42-36c2-4685-b306-c34297ac65af
    status:
      code: 200
      message: OK
version: 1
