interactions:
- request:
    body: '{"TagKeys": ["\u8d1f\u8d23\u4eba"], "PaginationToken": "", "MaxResults":
      5}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetTagValues
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432842'
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"JaB7NCLC507xSTRyNMSkS6q6lldJ2WceuVK4eY-17zSPxCet5xBymC03B-DI59-B","Tags":[{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"chrisren"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"irisqqcheng"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"caesarzhli"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"lichlli"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"lipingwwang"}],"RequestId":"81e8b93f-9389-4ba2-9e07-bbcc0c47afe8"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"TagKeys": ["\u8d1f\u8d23\u4eba"], "PaginationToken": "-FkGg-3vHg6pk6YQDJSGqOcvtk8VMkOYfG07n814v56nCgHjSLWvmPDD1jI33KGe",
      "MaxResults": 5}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetTagValues
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432850'
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"ZzUO_raIL7b34br2dBHgP9RtJf8BnP-0NmfazoTbuTwj5SSyjpkBjaYJbijhoPCw","Tags":[{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"igorguo"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"kellyhyyang"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"hoseani"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"yongmingliu"},{"TagKey":"\u8d1f\u8d23\u4eba","TagValue":"fionncchen"}],"RequestId":"e7228456-e781-4a9c-a294-8f15bc56b8b9"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
