interactions:
- request:
    body: '{"TagKeys": ["tke-lb-serviceuuid"], "PaginationToken": "", "MaxResults":
      50}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetTagValues
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"QeRcm_reyeX2v10h_h72DS4_6JTuSLr32BG1Us8Lw6O0wjPWEu-bgN1jQUGc_zjP","Tags":[{"TagKey":"tke-lb-serviceuuid","TagValue":"36fccfa0-01d4-4dcd-bff5-54e725a92996"},{"TagKey":"tke-lb-serviceuuid","TagValue":"79b95461-e200-4713-a125-8bc00372f2e6"},{"TagKey":"tke-lb-serviceuuid","TagValue":"2016ef7b-9de4-45bf-9169-2e8bcae8f300"},{"TagKey":"tke-lb-serviceuuid","TagValue":"3df9d925-ce13-4747-af4d-dfc02896d33e"},{"TagKey":"tke-lb-serviceuuid","TagValue":"20b6f140-c82f-4d24-b227-c8a4b68ea3a0"},{"TagKey":"tke-lb-serviceuuid","TagValue":"4d16b9c5-d3aa-43e1-a3d4-6a43ddd54e83"},{"TagKey":"tke-lb-serviceuuid","TagValue":"b4f9d1d[...]
[...]
