interactions:
- request:
    body: '{"TagKeys": ["\u8fd0\u8425\u90e8\u95e8"], "PaginationToken": "", "MaxResults":
      5}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetTagValues
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432835'
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"6xk38VJ6WXGhgRfLRh56PWm4_eN6hXQ7_UxIYgDa1QDYhm9jSI4ep8wtvybJAKFW","Tags":[{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"test-test"},{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"\u4e91\u539f\u751f\u5b89\u5168\u4ea7\u54c1\u4e2d\u5fc3_1225"},{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"\u5a01\u80c1\u60c5\u62a5\u80fd\u529b\u4e2d\u5fc3_1402"},{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"CSIG-\u4e91\u9f0e\u5b9e\u9a8c\u5ba4_1401"},{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"\u670d\u52a1\u8fd0\u8425\u7ba1\u7406\u4e2d\u5fc3_1027"}],"RequestId":"fdab73f2-f39f-4926-bd7b-f3ac21729771"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"TagKeys": ["\u8fd0\u8425\u90e8\u95e8"], "PaginationToken": "5RZPPTxgb7YLAXImrdgsRA2HF7uqY8OCjqva2kjhHuJ_SPAj2veOBau7V7fmzHUc",
      "MaxResults": 5}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetTagValues
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-singapore
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432842'
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","Tags":[{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"\u4ea7\u54c1\u65b9\u6848\u4e2d\u5fc3_1069"},{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"\u89c6\u9891\u4ea7\u54c1\u4e2d\u5fc3_1021"},{"TagKey":"\u8fd0\u8425\u90e8\u95e8","TagValue":"\u6280\u672f\u8fd0\u8425\u4e2d\u5fc3_1027"}],"RequestId":"cdf516fe-3216-4d28-b33d-7a9e894c688d"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
