interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeProducts
      X-TC-Language:
      - zh-CN
      X-TC-Region:
      - ap-shanghai
      X-TC-RequestClient:
      - SDK_PYTHON_3.0.715
      X-TC-Timestamp:
      - '1662432830'
      X-TC-Version:
      - '2022-06-27'
    method: POST
    uri: https://region.ap-shanghai.tencentcloudapi.com/
  response:
    body:
      string: '{"Response": {"TotalCount": 86, "Products": [{"Name": "apigateway"},
        {"Name": "as"}, {"Name": "asr"}, {"Name": "batch"}, {"Name": "bda"}, {"Name":
        "cbs"}, {"Name": "cdb"}, {"Name": "cdc"}, {"Name": "cdh"}, {"Name": "chdfs"},
        {"Name": "ci"}, {"Name": "cii"}, {"Name": "ckafka"}, {"Name": "clb"}, {"Name":
        "cloudhsm"}, {"Name": "cmq"}, {"Name": "csg"}, {"Name": "ctsdb"}, {"Name":
        "customocr"}, {"Name": "cvm"}], "RequestId": "1531497f-3c9c-4d6d-bfb2-c6bc07e5b83b"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
