interactions:
- request:
    body: '{"Filters": [{"Name": "image-type", "Values": ["PRIVATE_IMAGE"]}], "Offset":
      0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeImages
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 5, \"ImageSet\": [{\"OsName\": \"TencentOS
        Server 2.4\", \"ImageSize\": 50, \"ImageType\": \"PRIVATE_IMAGE\", \"CreatedTime\":
        \"2022-09-22T15:10:55Z\", \"ImageDescription\": \"\", \"ImageSource\": \"CREATE_IMAGE\",
        \"ImageId\": \"img-h3ggdgjz\", \"ImageName\": \"\u56FD\u9645\u7AD9filetruck\u955C\u50CF\",
        \"ImageCreator\": \"100000750436\", \"ImageState\": \"NORMAL\", \"SyncPercent\":
        null, \"CreatePercent\": null, \"IsSupportAutoInstallGPUDriver\": false, \"GPUDriverList\":
        [], \"ImageFormat\": \"RAW\", \"_ImageClass\": \"SystemImage\", \"Architecture\":
        \"x86_64\", \"Platform\": \"TencentOS\", \"IsSupportCloudinit\": true, \"isSupportCloudinit\":
        true, \"LicenseType\": \"TencentCloud\", \"Tags\": []}, {\"OsName\": \"TencentOS
        Server 3.1 (TK4)\", \"ImageSize\": 50, \"ImageType\": \"PRIVATE_IMAGE\", \"CreatedTime\":
        \"2022-09-19T07:05:06Z\", \"ImageDescription\": \"just for testing\", \"ImageSource\":
        \"CREATE_IMAGE\", \"ImageId\": \"img-1iirbwoe\", \"ImageName\": \"img-ritch\",
        \"ImageCreator\": \"100000750436\", \"ImageState\": \"NORMAL\", \"SyncPercent\":
        null, \"CreatePercent\": null, \"IsSupportAutoInstallGPUDriver\": false, \"GPUDriverList\":
        [], \"ImageFormat\": \"RAW\", \"SnapshotSet\": [{\"SnapshotId\": \"snap-qll2cji7\",
        \"DiskUsage\": \"SYSTEM_DISK\", \"DiskSize\": 50}], \"_ImageClass\": \"SystemImage\",
        \"Architecture\": \"x86_64\", \"Platform\": \"TencentOS\", \"IsSupportCloudinit\":
        true, \"isSupportCloudinit\": true, \"LicenseType\": \"TencentCloud\", \"Tags\":
        [{\"tagKey\": \"\u6D4B\u8BD5\u4EBA\u5458\", \"tagValue\": \"ritchiecai\",
        \"Key\": \"\u6D4B\u8BD5\u4EBA\u5458\", \"Value\": \"ritchiecai\"}]}, {\"OsName\":
        \"TencentOS Server 3.1 (TK4)\", \"ImageSize\": 50, \"ImageType\": \"PRIVATE_IMAGE\",
        \"CreatedTime\": \"2022-09-14T02:56:29Z\", \"ImageDescription\": \"\", \"ImageSource\":
        \"CREATE_IMAGE\", \"ImageId\": \"img-jcv7i87g\", \"ImageName\": \"arron-mirror\",
        \"ImageCreator\": \"100000750436\", \"ImageState\": \"NORMAL\", \"SyncPercent\":
        null, \"CreatePercent\": null, \"IsSupportAutoInstallGPUDriver\": false, \"GPUDriverList\":[...]
- request:
    body: '{"ResourceList": ["qcs::cvm:ap-singapore:uin/100000750436:instance/img-h3ggdgjz",
      "qcs::cvm:ap-singapore:uin/100000750436:instance/img-1iirbwoe", "qcs::cvm:ap-singapore:uin/100000750436:instance/img-jcv7i87g",
      "qcs::cvm:ap-singapore:uin/100000750436:instance/img-e3cqiktq", "qcs::cvm:ap-singapore:uin/100000750436:instance/img-8uhppmle"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"3212b439-855c-4552-9c15-67c9ea93b4e2"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://cvm.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 7, \"InstanceSet\": [{\"Placement\":
        {\"Zone\": \"ap-singapore-1\", \"HostId\": null, \"ProjectId\": 0}, \"InstanceId\":
        \"ins-5iwqfm4q\", \"Uuid\": \"fbc4051f-85d2-4f20-a19c-1996b08a8ba7\", \"OperatorUin\":
        \"100000750436\", \"InstanceState\": \"RUNNING\", \"RestrictState\": \"NORMAL\",
        \"InstanceType\": \"S3.MEDIUM2\", \"CPU\": 2, \"Memory\": 2, \"InstanceName\":
        \"Unnamed\", \"InstanceChargeType\": \"POSTPAID_BY_HOUR\", \"SystemDisk\":
        {\"DiskType\": \"CLOUD_BSSD\", \"DiskId\": \"disk-b0u3hhts\", \"DiskSize\":
        50, \"Encrypt\": false, \"KmsKeyId\": null, \"ThroughputPerformance\": 0,
        \"CdcId\": null}, \"DataDisks\": [], \"PrivateIpAddresses\": [\"192.168.0.8\"],
        \"PublicIpAddresses\": [\"129.226.208.82\"], \"IPv6Addresses\": null, \"InternetAccessible\":
        {\"InternetMaxBandwidthOut\": 5, \"InternetChargeType\": \"TRAFFIC_POSTPAID_BY_HOUR\"},
        \"VirtualPrivateCloud\": {\"VpcId\": \"vpc-7fyzh7ml\", \"SubnetId\": \"subnet-gxrkupwm\",
        \"AsVpcGateway\": false}, \"SecurityGroupIds\": [\"sg-m5jbq9cu\"], \"LoginSettings\":
        {\"KeyIds\": [\"skey-ru5y2pxx\"]}, \"ImageId\": \"img-1iirbwoe\", \"OsName\":
        \"TencentOS Server 3.1 (TK4)\", \"DefaultLoginUser\": \"root\", \"DefaultLoginPort\":
        22, \"RenewFlag\": null, \"CreatedTime\": \"2022-09-29T09:40:42Z\", \"ExpiredTime\":
        null, \"Tags\": [], \"PlatformProjectId\": null, \"DisasterRecoverGroupId\":
        \"\", \"DedicatedClusterId\": \"\", \"CamRoleName\": \"\", \"LatestOperation\":
        null, \"LatestOperationState\": null, \"LatestOperationRequestId\": null,
        \"IsolatedSource\": \"NOTISOLATED\", \"HpcClusterId\": \"\", \"DisableApiTermination\":
        false, \"RdmaIpAddresses\": null, \"LicenseType\": \"TencentCloud\", \"StopChargingMode\":
        \"NOT_APPLICABLE\"}, {\"Placement\": {\"Zone\": \"ap-singapore-4\", \"HostId\":
        null, \"ProjectId\": 0}, \"InstanceId\": \"ins-dq1dmpgk\", \"Uuid\": \"2e56464f-5d8c-4449-960f-75ad37e5a625\",
        \"OperatorUin\": \"\", \"InstanceState\": \"RUNNING\", \"RestrictState\":
        \"NORMAL\", \"InstanceType\": \"SA2.MEDIUM4\", \"CPU\": 2, \"Memory\": 4,
        \"InstanceName\": \"arron_cvm\", \"InstanceChargeType\": \"POSTPAID_BY_HOUR\",
        \"SystemDisk\": {\"DiskType\": \"[...]
