interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeDBInstances
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-20'
    method: POST
    uri: https://cdb.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"Items":[{"AutoRenew":0,"CageId":"","CdbError":0,"Cpu":2,"CreateTime":"2022-10-17
        17:04:48","DeadlineTime":"0000-00-00 00:00:00","DeployGroupId":"","DeployMode":0,"DeviceClass":"","DeviceType":"UNIVERSAL","DiskType":"","DrInfo":[],"EngineType":"RocksDB","EngineVersion":"8.0","ExClusterId":"","ExClusterName":"","HourFeeStatus":1,"InitFlag":1,"InstanceId":"cdb-lbxusyi7","InstanceName":"cdb81905","InstanceNodes":2,"InstanceType":1,"IsolateTime":"0000-00-00
        00:00:00","MasterInfo":null,"MaxDelayTime":0,"Memory":4000,"OfflineTime":"","ParamVersionFlow":800030001,"PayType":1,"PhysicalId":"","ProjectId":0,"ProtectMode":0,"Qps":4400,"Region":"ap-singapore","RegionId":9,"ResourceId":"","RoGroups":[],"RoInstType":"","RoVipInfo":null,"SecurityGroupIds":[],"SlaveInfo":{"First":{"Region":"ap-singapore","Vip":"","VpcId":0,"Vport":0,"Zone":"ap-singapore-1"},"Second":null},"Status":1,"SubnetId":311924,"TagList":null,"TaskStatus":0,"UniqSubnetId":"subnet-1miim8ks","UniqVpcId":"vpc-3aajxqgr","Vip":"172.22.32.14","Volume":200,"VpcId":830620,"Vport":3306,"WanDomain":"","WanPort":0,"WanStatus":0,"Zone":"ap-singapore-1","ZoneId":900001,"ZoneName":""},{"AutoRenew":0,"CageId":"","CdbError":0,"Cpu":1,"CreateTime":"2022-10-17
        16:43:16","DeadlineTime":"0000-00-00 00:00:00","DeployGroupId":"","DeployMode":0,"DeviceClass":"","DeviceType":"UNIVERSAL","DiskType":"","DrInfo":[],"EngineType":"InnoDB","EngineVersion":"5.7","ExClusterId":"","ExClusterName":"","HourFeeStatus":1,"InitFlag":1,"InstanceId":"cdb-pufymj1h","InstanceName":"cdb81904","InstanceNodes":2,"InstanceType":1,"IsolateTime":"0000-00-00
        00:00:00","MasterInfo":null,"MaxDelayTime":0,"Memory":1000,"OfflineTime":"","ParamVersionFlow":570010001,"PayType":1,"PhysicalId":"","ProjectId":0,"ProtectMode":0,"Qps":1000,"Region":"ap-singapore","RegionId":9,"ResourceId":"","RoGroups":[],"RoInstType":"","RoVipInfo":null,"SecurityGroupIds":[],"SlaveInfo":{"First":{"Region":"ap-singapore","Vip":"","VpcId":0,"Vport":0,"Zone":"ap-singapore-1"},"Second":null},"Status":1,"SubnetId":311924,"TagList":null,"TaskStatus":0,"UniqSubnetId":"subnet-1miim8ks","UniqVpcId":"vpc-3aajxqgr","Vip":"172.22.32.4","Volume":200,"VpcId":830620,"Vport":3306,"WanDomain":"","WanPort":0,"WanStatus":0,"Zone":"ap-singapore-1","ZoneId":900001,"ZoneName":""}],"RequestId":"0868178b-24d3-43ca-acf2-1ef90db8293a","TotalCount":2}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cdb:ap-singapore:uin/100000750436:instanceId/cdb-lbxusyi7",
      "qcs::cdb:ap-singapore:uin/100000750436:instanceId/cdb-pufymj1h"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"8866576e-b058-47b8-9361-3542f1d4d3c7"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"InstanceId": "cdb-lbxusyi7"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeDBInstanceInfo
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-20'
    method: POST
    uri: https://cdb.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"DefaultKmsRegion":"ap-singapore","Encryption":"NO","InstanceId":"cdb-lbxusyi7","InstanceName":"cdb81905","Ipv6Infos":null,"KeyId":"","KeyRegion":"","RequestId":"7aa79493-9f29-4865-b131-aa0316a2b878"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"InstanceId": "cdb-pufymj1h"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeDBInstanceInfo
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-20'
    method: POST
    uri: https://cdb.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"DefaultKmsRegion":"ap-singapore","Encryption":"NO","InstanceId":"cdb-pufymj1h","InstanceName":"cdb81904","Ipv6Infos":null,"KeyId":"","KeyRegion":"","RequestId":"44f41fd0-4e61-465e-8803-315e017d45ac"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
