interactions:
- request:
    body: '{"Scope": "Local", "Page": 1, "Rp": 200}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListPolicies
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"ServiceTypeList":[],"List":[{"PolicyId":141834197,"PolicyName":"demo-admin-2","Type":1,"Description":"","CreateMode":2,"Attachments":0,"ServiceType":"","IsAttached":null,"IsServiceLinkedPolicy":0,"AttachEntityCount":0,"AttachEntityBoundaryCount":0,"AddTime":"2022-10-11
        09:50:17","UpdateTime":"2022-10-11 09:50:17","Deactived":0,"DeactivedDetail":[]},{"PolicyId":141818449,"PolicyName":"demo-admin","Type":1,"Description":"","CreateMode":3,"Attachments":0,"ServiceType":"","IsAttached":null,"IsServiceLinkedPolicy":0,"AttachEntityCount":0,"AttachEntityBoundaryCount":0,"AddTime":"2022-10-10
        20:27:10","UpdateTime":"2022-10-10 20:27:10","Deactived":0,"DeactivedDetail":[]},{"PolicyId":141753149,"PolicyName":"demo","Type":1,"Description":"","CreateMode":3,"Attachments":0,"ServiceType":"","IsAttached":null,"IsServiceLinkedPolicy":0,"AttachEntityCount":0,"AttachEntityBoundaryCount":0,"AddTime":"2022-10-09
        10:38:07","UpdateTime":"2022-10-09 10:41:53","Deactived":0,"DeactivedDetail":[]}],"TotalNum":3,"RequestId":"e37196d7-b0ba-4c8b-821b-f7bc50fa458a"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"PolicyId": 141834197}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PolicyDocument":"{\"version\":\"2.0\",\"statement\":[{\"effect\":\"allow\",\"action\":\"*\",\"resource\":\"*\"}]}","UpdateTime":"2022-10-11
        09:50:17","AddTime":"2022-10-11 09:50:17","PolicyName":"demo-admin-2","Description":"","Type":1,"PresetAlias":null,"IsServiceLinkedRolePolicy":0,"RequestId":"6c5b32e1-eebe-4d2f-b16f-9311328651ed"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
