interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListUsers
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\":{\"Data\":[{\"Uin\":100027724164,\"Name\":\"sub-account-1\",\"Uid\":14340007,\"Remark\":\"COS\u56FE\u5E8A\",\"ConsoleLogin\":0,\"PhoneNum\":\"13760490350\",\"CountryCode\":\"86\",\"Email\":\"ritch@qq.com\",\"CreateTime\":\"2022-10-05
        22:40:31\",\"NickName\":\"sub-account-1\"},{\"Uin\":100027755407,\"Name\":\"sub-account-demo\",\"Uid\":14356151,\"Remark\":\"\",\"ConsoleLogin\":1,\"PhoneNum\":\"\",\"CountryCode\":\"86\",\"Email\":\"\",\"CreateTime\":\"2022-10-08
        15:50:07\",\"NickName\":\"sub-account-demo\"}],\"RequestId\":\"96c0483c-47f7-4138-b5b9-af1b9e41b314\"}}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cam:ap-singapore:uin/100002098531:uin/100027724164",
      "qcs::cam:ap-singapore:uin/100002098531:uin/100027755407"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cam::uin\/100002098531:uin\/100027724164","Tags":[{"TagKey":"access-key-unused","TagValue":"Resource
        does not meet policy: remove-keys@2022-11-18T09:32:00+00:00"}]},{"Resource":"qcs::cam::uin\/100002098531:uin\/100027755407","Tags":[{"TagKey":"usage","TagValue":"temp"}]}],"RequestId":"53f07bfc-6b6b-4ed1-aed2-c02e67d911b8"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"TargetUin": 100027724164}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListAccessKeys
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AccessKeys":[{"AccessKeyId":"AKIDjHbjcFcjfNs64nGUZQ4RXu52lHXZ4c5Q","Status":"Active","CreateTime":"2022-10-05
        22:40:31"},{"AccessKeyId":"AKID254znZIUcgYDf1PZo2kLjx8e7QMCyb7d","Status":"Active","CreateTime":"2022-10-08
        17:16:14"}],"RequestId":"e29e4bc6-5e5a-405a-a4cf-7ad647a4a829"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"SecretIdList": ["AKIDjHbjcFcjfNs64nGUZQ4RXu52lHXZ4c5Q", "AKID254znZIUcgYDf1PZo2kLjx8e7QMCyb7d"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetSecurityLastUsed
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"SecretIdLastUsedRows":[{"SecretId":"AKIDjHbjcFcjfNs64nGUZQ4RXu52lHXZ4c5Q","LastUsedDate":null},{"SecretId":"AKID254znZIUcgYDf1PZo2kLjx8e7QMCyb7d","LastUsedDate":null}],"RequestId":"5b9ab722-e7a8-4225-9148-0e6e5eaef3ce"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"ResourceList": ["qcs::cam:ap-singapore:uin/100002098531:uin/100027724164"],
      "Tags": [{"TagKey": "access-key-unused", "TagValue": "Resource does not meet
      policy: remove-keys@2022-11-18T10:55:00+00:00"}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - TagResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"FailedResources":[],"RequestId":"eea8d73c-da72-48b1-942e-75c3d669a09e"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
