interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListUsers
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\":{\"Data\":[{\"Uin\":100027724164,\"Name\":\"sub-account-1\",\"Uid\":14340007,\"Remark\":\"COS\u56FE\u5E8A\",\"ConsoleLogin\":0,\"PhoneNum\":\"13760490350\",\"CountryCode\":\"86\",\"Email\":\"ritch@qq.com\",\"CreateTime\":\"2022-10-05
        22:40:31\",\"NickName\":\"sub-account-1\"},{\"Uin\":100027755407,\"Name\":\"sub-account-demo\",\"Uid\":14356151,\"Remark\":\"\",\"ConsoleLogin\":1,\"PhoneNum\":\"\",\"CountryCode\":\"86\",\"Email\":\"\",\"CreateTime\":\"2022-10-08
        15:50:07\",\"NickName\":\"sub-account-demo\"}],\"RequestId\":\"34600fa5-2994-436a-b540-401a5c71c490\"}}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::cam:ap-singapore:uin/100002098531:uin/100027724164",
      "qcs::cam:ap-singapore:uin/100002098531:uin/100027755407"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::cam::uin\/100002098531:uin\/100027755407","Tags":[{"TagKey":"usage","TagValue":"temp"}]}],"RequestId":"6aede7e4-7b05-4a8d-b57d-0a04b80ecf6c"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"TargetUin": 100027724164}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListAccessKeys
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"AccessKeys":[{"AccessKeyId":"AKIDjHbjcFcjfNs64nGUZQ4RXu52lHXZ4c5Q","Status":"Active","CreateTime":"2022-10-05
        22:40:31"},{"AccessKeyId":"AKID254znZIUcgYDf1PZo2kLjx8e7QMCyb7d","Status":"Active","CreateTime":"2022-10-08
        17:16:14"}],"RequestId":"9713e8c6-1491-49ec-a3b8-16e4298e2a99"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"SecretIdList": ["AKIDjHbjcFcjfNs64nGUZQ4RXu52lHXZ4c5Q", "AKID254znZIUcgYDf1PZo2kLjx8e7QMCyb7d"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetSecurityLastUsed
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"SecretIdLastUsedRows":[{"SecretId":"AKIDjHbjcFcjfNs64nGUZQ4RXu52lHXZ4c5Q","LastUsedDate":null},{"SecretId":"AKID254znZIUcgYDf1PZo2kLjx8e7QMCyb7d","LastUsedDate":null}],"RequestId":"c731ed03-1c65-48be-b78c-30bda21b02df"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"SecretIdList": ["AKIDvxrkVM1Ur5CB4veGi0DDzY2TitlY7Sad"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetSecurityLastUsed
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"SecretIdLastUsedRows":[{"SecretId":"AKIDvxrkVM1Ur5CB4veGi0DDzY2TitlY7Sad","LastUsedDate":null}],"RequestId":"cf4f5cb1-8f53-4c06-822c-150ca5c487ae"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
