interactions:
- request:
    body: '{"Scope": "Local", "Page": 1, "Rp": 200}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListPolicies
      X-TC-Region:
      - ap-singapore
      X-TC-TraceId:
      - c0ef1d16-0b3e-4670-b739-b30215ed6f48
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\":{\"ServiceTypeList\":[],\"List\":[{\"PolicyId\":236806532,\"PolicyName\":\"v_pmmtian_tccli\",\"Type\":1,\"Description\":\"\",\"CreateMode\":3,\"Attachments\":2,\"ServiceType\":\"\",\"IsAttached\":null,\"IsServiceLinkedPolicy\":0,\"AttachEntityCount\":2,\"AttachEntityBoundaryCount\":0,\"AddTime\":\"2025-04-15
        17:27:58\",\"UpdateTime\":\"2025-04-15 17:27:58\",\"Deactived\":0,\"DeactivedDetail\":[]},{\"PolicyId\":236806310,\"PolicyName\":\"TF_QcloudAccessForTKERole\",\"Type\":1,\"Description\":\"\",\"CreateMode\":2,\"Attachments\":1,\"ServiceType\":\"\",\"IsAttached\":null,\"IsServiceLinkedPolicy\":0,\"AttachEntityCount\":1,\"AttachEntityBoundaryCount\":0,\"AddTime\":\"2025-04-15
        10:44:25\",\"UpdateTime\":\"2025-04-15 10:44:25\",\"Deactived\":0,\"DeactivedDetail\":[]},{\"PolicyId\":236806309,\"PolicyName\":\"TF_QcloudAccessForTKERoleInOpsManagement\",\"Type\":1,\"Description\":\[...]
