interactions:
- request:
    body: '{"Scope": "Local", "Page": 1, "Rp": 200}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListPolicies
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"ServiceTypeList":[],"List":[{"PolicyId":141834197,"PolicyName":"demo-admin-2","Type":1,"Description":"","CreateMode":2,"Attachments":0,"ServiceType":"","IsAttached":null,"IsServiceLinkedPolicy":0,"AttachEntityCount":0,"AttachEntityBoundaryCount":0,"AddTime":"2022-10-11
        09:50:17","UpdateTime":"2022-10-11 09:50:17","Deactived":0,"DeactivedDetail":[]},{"PolicyId":141818449,"PolicyName":"demo-admin","Type":1,"Description":"","CreateMode":3,"Attachments":0,"ServiceType":"","IsAttached":null,"IsServiceLinkedPolicy":0,"AttachEntityCount":0,"AttachEntityBoundaryCount":0,"AddTime":"2022-10-10
        20:27:10","UpdateTime":"2022-10-10 20:27:10","Deactived":0,"DeactivedDetail":[]},{"PolicyId":141753149,"PolicyName":"demo","Type":1,"Description":"","CreateMode":3,"Attachments":1,"ServiceType":"","IsAttached":null,"IsServiceLinkedPolicy":0,"AttachEntityCount":1,"AttachEntityBoundaryCount":0,"AddTime":"2022-10-09
        10:38:07","UpdateTime":"2022-10-09 10:41:53","Deactived":0,"DeactivedDetail":[]}],"TotalNum":3,"RequestId":"6ea2db5a-b52a-43e7-8c74-1966eff36b32"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"PolicyId": 141753149}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - ListEntitiesForPolicy
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2019-01-16'
    method: POST
    uri: https://cam.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"TotalNum":1,"List":[{"Id":"251604","Name":"demo","Uin":0,"RelatedType":2,"AttachmentTime":"2022-10-11T18:40:01+0800"}],"RequestId":"0f42570e-5a9f-4ed5-a6dc-a43643650056"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
