interactions:
- request:
    body: '{"SecurityGroupIds": ["sg-jep2pqxk"], "Offset": "0", "Limit": "20"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeSecurityGroups
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"SecurityGroupSet\": [\n            {\n
        \               \"SecurityGroupId\": \"sg-jep2pqxk\",\n                \"SecurityGroupName\":
        \"\u653E\u901A22\uFF0C80\uFF0C443\uFF0C3389\u7AEF\u53E3\u548CICMP\u534F\u8BAE-2023031411351396373\",\n
        \               \"SecurityGroupDesc\": \"\u516C\u7F51\u653E\u901A\u4E91\u4E3B\u673A\u5E38\u7528\u767B\u5F55\u53CAweb\u670D\u52A1\u7AEF\u53E3\uFF0C\u5185\u7F51\u5168\u653E\u901A\u3002\",\n
        \               \"ProjectId\": \"0\",\n                \"IsDefault\": false,\n
        \               \"CreatedTime\": \"2023-03-14 11:35:38\",\n                \"UpdateTime\":
        \"2023-03-14 11:35:39\",\n                \"TagSet\": [\n                    {\n
        \                       \"Key\": \"test_resource\",\n                        \"Value\":
        \"test_resource\"\n                    }\n                ],\n                \"Region\":
        \"ap-singapore\"\n            }\n        ],\n        \"TotalCount\": 1,\n
        \       \"RegionStatistics\": [\n            {\n                \"TotalCount\":
        1,\n                \"Region\": \"ap-singapore\"\n            }\n        ],\n
        \       \"RequestId\": \"09c92d9d-6790-41f9-9d09-215011b3193b\"\n    }\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::security-group:ap-singapore:uin/100000750436:sg/sg-jep2pqxk"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"882c041c-d826-4a46-b6a4-37f96bfec4ce"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"SecurityGroupId": "sg-jep2pqxk"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeSecurityGroupPolicies
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"SecurityGroupPolicySet\": {\n            \"Ingress\":
        [\n                {\n                    \"PolicyIndex\": 0,\n                    \"Port\":
        \"3389\",\n                    \"CidrBlock\": \"0.0.0.0/0\",\n                    \"Ipv6CidrBlock\":
        \"\",\n                    \"SecurityGroupId\": \"\",\n                    \"Action\":
        \"ACCEPT\",\n                    \"ModifyTime\": \"2023-03-14 11:35:39\",\n
        \                   \"PolicyDescription\": \"\u653E\u901AWindows\u8FDC\u7A0B\u767B\u5F55\",\n
        \                   \"Protocol\": \"tcp\",\n                    \"ServiceTemplate\":
        {\n                        \"ServiceId\": \"\",\n                        \"ServiceGroupId\":
        \"\"\n                    },\n                    \"AddressTemplate\": {\n
        \                       \"AddressId\": \"\",\n                        \"AddressGroupId\":
        \"\"\n                    }\n                },\n                {\n                    \"PolicyIndex\":
        1,\n                    \"Port\": \"3389\",\n                    \"CidrBlock\":
        \"\",\n                    \"Ipv6CidrBlock\": \"::/0\",\n                    \"SecurityGroupId\":
        \"\",\n                    \"Action\": \"ACCEPT\",\n                    \"ModifyTime\":
        \"2023-03-14 11:35:39\",\n                    \"PolicyDescription\": \"\u653E\u901AWindo[...]
- request:
    body: '{"SecurityGroupIds": ["sg-jep2pqxk"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeSecurityGroupAssociationStatistics
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"SecurityGroupAssociationStatisticsSet\":
        [\n            {\n                \"SecurityGroupId\": \"sg-jep2pqxk\",\n
        \               \"CDB\": 0,\n                \"CVM\": 2,\n                \"ENI\":
        0,\n                \"SG\": 0,\n                \"CLB\": 0,\n                \"InstanceStatistics\":
        [\n                    {\n                        \"InstanceType\": \"CDB\",\n
        \                       \"InstanceCount\": 0\n                    },\n                    {\n
        \                       \"InstanceType\": \"CVM\",\n                        \"InstanceCount\":
        2\n                    },\n                    {\n                        \"InstanceType\":
        \"ENI\",\n                        \"InstanceCount\": 0\n                    },\n
        \                   {\n                        \"InstanceType\": \"CLB\",\n
        \                       \"InstanceCount\": 0\n                  [...]
