interactions:
- request:
    body: '{"Offset": "0", "Limit": "20"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeSecurityGroups
      X-TC-Region:
      - na-ashburn
      X-TC-TraceId:
      - b7141884-f4eb-489f-afd9-9d4e3a4e5c44
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.na-ashburn.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"SecurityGroupSet\": [\n            {\n
        \               \"SecurityGroupId\": \"sg-6ykrshfb\",\n                \"SecurityGroupName\":
        \"sg-allow-all-ingress\",\n                \"SecurityGroupDesc\": \"Allow
        all ingress\",\n                \"ProjectId\": \"0\",\n                \"IsDefault\":
        false,\n                \"CreatedTime\": \"2025-12-09 23:14:50\",\n                \"UpdateTime\":
        \"2025-12-09 23:14:52\",\n                \"TagSet\": [],\n                \"Region\":
        \"na-ashburn\"\n            },\n            {\n                \"SecurityGroupId\":
        \"sg-c7xghhr3\",\n                \"SecurityGroupName\": \"sg-deny-all-ingress\",\n
        \               \"SecurityGroupDesc\": \"Deny all ingress\",\n                \"ProjectId\":
        \"0\",\n                \"IsDefault\": false,\n                \"CreatedTime\":
        \"2025-12-09 23:14:50\",\n                \"UpdateTime\": \"2025-12-09 23:14:52\",\n
        \               \"TagSet\": [],\n                \"Region\": \"na-ashburn\"\n
        \           },\n            {\n                \"SecurityGroupId\": \"sg-6ts6s7hx\",\n
        \               \"SecurityGroupName\": \"sg-allow-tcp-ingress\",\n                \"SecurityGroupDesc\":
        \"Allow TCP ingress\",\n                \"ProjectId\": \"0\",\n                \"IsDefault\":
        false,\n                \"CreatedTime\": \"2025-12-09 23:14:50\",\n                \"UpdateTime\":
        \"2025-12-09 23:14:52\",\n                \"TagSet\": [],\n                \"Region\":
        \"na-ashburn\"\n            }\n        ],\n        \"TotalCount\": 3,\n        \"RegionStatistics\":
        [\n            {\n                \"TotalCount\": 3,\n                \"Region\":
        \"na-ashburn\"\n            }\n        ],\n        \"RequestId\": \"bd756613-9e19-4d24-a29f-ba683753c39c\"\n
        \   }\n}"
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - b7141884-f4eb-489f-afd9-9d4e3a4e5c44
    status:
      code: 200
      message: OK
- request:
    body: '{"ResourceList": ["qcs::vpc:na-ashburn:uin/100000750436:sg/sg-6ykrshfb",
      "qcs::vpc:na-ashburn:uin/100000750436:sg/sg-c7xghhr3", "qcs::vpc:na-ashburn:uin/100000750436:sg/sg-6ts6s7hx"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - na-ashburn
      X-TC-TraceId:
      - ce846f56-9dc0-420f-a001-0caa60887183
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.na-ashburn.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[],"RequestId":"6bff5c5a-7f98-4457-9140-83ac47b35e09"}}'
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - ce846f56-9dc0-420f-a001-0caa60887183
    status:
      code: 200
      message: OK
- request:
    body: '{"SecurityGroupId": "sg-6ykrshfb"}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeSecurityGroupPolicies
      X-TC-Region:
      - na-ashburn
      X-TC-TraceId:
      - fe3fe894-1b04-4347-bf3f-707f0fab0374
      X-TC-Version:
      - '2017-03-12'
    method: POST
    uri: https://vpc.na-ashburn.tencentcloudapi.com/
  response:
    body:
      string: "{\n    \"Response\": {\n        \"SecurityGroupPolicySet\": {\n            \"Ingress\":
        [\n                {\n                    \"PolicyIndex\": 0,\n                    \"Priority\":
        1,\n                    \"Port\": \"ALL\",\n                    \"CidrBlock\":
        \"0.0.0.0\\/0\",\n                    \"Ipv6CidrBlock\": \"\",\n                    \"SecurityGroupId\":
        \"\",\n                    \"Action\": \"ACCEPT\",\n                    \"ModifyTime\":
        \"2025-12-09 23:14:52\",\n                    \"PolicyDescription\": \"Allow
        all ingress\",\n                    \"Protocol\": \"ALL\",\n                    \"ServiceTemplate\":
        {\n                        \"ServiceId\": \"\",\n                        \"ServiceGroupId\":
        \"\"\n                    },\n                    \"AddressTemplate\": {\n
        \                       \"AddressId\": \"\",\n                        \"AddressGroupId\":
        \"\"\n                    },\n                    \"Diff\": false\n                }\n
        \           ],\n            \"Egress\": [],\n            \"Version\": \"1\",\n
        \           \"PolicyStatistics\": {\n                \"IngressIPv4TotalCount\":
        1,\n                \"IngressIPv6TotalCount\": 0,\n                \"EgressIPv4TotalCount\":
        0,\n                \"EgressIPv6TotalCount\": 0\n            }\n        },\n
        \       \"RequestId\": \"c20ccc2c-ab83-4649-99a7-ad7d002f80da\"\n    }\n}"
    headers:
      Content-Type:
      - application/json
      X-TC-TraceId:
      - fe3fe894-1b04-4347-bf3f-707f0fab0374
    status:
      code: 200
      message: OK
[...]
