interactions:
- request:
    body: '{"Offset": 0, "Limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - DescribeLoadBalancers
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-03-17'
    method: POST
    uri: https://clb.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: "{\"Response\": {\"TotalCount\": 10, \"LoadBalancerSet\": [{\"LoadBalancerId\":
        \"lb-aqsfvh8m\", \"LoadBalancerName\": \"lb-63230854\", \"Forward\": 1, \"Domain\":
        \"\", \"LoadBalancerVips\": [\"43.134.149.139\"], \"AddressIPv6\": null, \"AddressIPVersion\":
        \"ipv4\", \"IPv6Mode\": null, \"LoadBalancerType\": \"OPEN\", \"Status\":
        1, \"CreateTime\": \"2022-09-21 11:38:40\", \"StatusTime\": \"2022-09-21 11:38:42\",
        \"ProjectId\": 0, \"OpenBgp\": 0, \"Snat\": false, \"Isolation\": 0, \"Log\":
        \"\", \"AnycastZone\": \"\", \"VpcId\": \"vpc-2hxl6jir\", \"NumericalVpcId\":
        9493687, \"TargetRegionInfo\": {\"Region\": \"ap-singapore\", \"VpcId\": \"vpc-2hxl6jir\"},
        \"SubnetId\": \"\", \"SecureGroups\": [], \"Tags\": [], \"MasterZone\": {\"ZoneId\":
        900002, \"Zone\": \"ap-singapore-2\", \"ZoneName\": \"\u65B0\u52A0\u5761\u4E8C\u533A\",
        \"ZoneRegion\": \"ap-singapore\", \"LocalZone\": false}, \"BackupZoneSet\":
        null, \"IsolatedTime\": null, \"ExpireTime\": \"2022-10-21 11:38:40\", \"ChargeType\":
        \"POSTPAID_BY_HOUR\", \"NetworkAttributes\": {\"InternetChargeType\": \"TRAFFIC_POSTPAID_BY_HOUR\",
        \"InternetMaxBandwidthOut\": 1, \"BandwidthpkgSubType\": null}, \"PrepaidAttributes\":
        null, \"ExtraInfo\": null, \"LogSetId\": \"\", \"LogTopicId\": \"\", \"LoadBalancerPassToTarget\":
        false, \"IsDDos\": false, \"ConfigId\": \"\", \"ExclusiveCluster\": {}, \"SnatPro\":
        false, \"SnatIps\": [], \"IsBlock\": false, \"IsBlockTime\": \"\", \"SlaType\":
        \"\", \"ClusterTag\": null, \"LocalBgp\": false, \"MixIpTarget\": false, \"Zones\":
        null, \"NfvInfo\": \"\", \"HealthLogSetId\": \"\", \"HealthLogTopicId\": \"\",
        \"ClusterIds\": null, \"AttributeFlags\": [], \"VipIsp\": \"BGP\"}, {\"LoadBalancerId\":
        \"lb-24jxs9vy\", \"LoadBalancerName\": \"arron_clb\", \"Forward\": 1, \"Domain\":
        \"\", \"LoadBalancerVips\": [\"43.134.149.189\"], \"AddressIPv6\": null, \"AddressIPVersion\":
        \"ipv4\", \"IPv6Mode\": null, \"LoadBalancerType\": \"OPEN\", \"Status\":
        1, \"CreateTime\": \"2022-09-16 14:26:00\", \"StatusTime\": \"2022-09-16 22:17:19\",
        \"ProjectId\": 0, \"OpenBgp\": 0, \"Snat\": false, \"Isolation\": 0, \"Log\":
        \"\", [...]
- request:
    body: '{"ResourceList": ["qcs::clb:ap-singapore:uin/100000750436:clb/lb-aqsfvh8m",
      "qcs::clb:ap-singapore:uin/100000750436:clb/lb-24jxs9vy", "qcs::clb:ap-singapore:uin/100000750436:clb/lb-ml5vr8ei",
      "qcs::clb:ap-singapore:uin/100000750436:clb/lb-47hh8ana", "qcs::clb:ap-singapore:uin/100000750436:clb/lb-8w5xraw2",
      "qcs::clb:ap-singapore:uin/100000750436:clb/lb-qniokvxq", "qcs::clb:ap-singapore:uin/100000750436:clb/lb-bypd04o6",
      "qcs::clb:ap-singapore:uin/100000750436:clb/lb-m6gyftdy", "qcs::clb:ap-singapore:uin/100000750436:clb/lb-h8tc4gem"]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetResources
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-08-13'
    method: POST
    uri: https://tag.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"PaginationToken":"","ResourceTagMappingList":[{"Resource":"qcs::clb:ap-singapore:uin\/100000750436:clb\/lb-m6gyftdy","Tags":[{"TagKey":"tke-clusterId","TagValue":"cls-4bqctahq"},{"TagKey":"tke-createdBy-flag","TagValue":"yes"},{"TagKey":"tke-lb-serviceuuid","TagValue":"1353e5e1-84dd-4b74-83f9-f21bd7e41309"}]},{"Resource":"qcs::clb:ap-singapore:uin\/100000750436:clb\/lb-bypd04o6","Tags":[{"TagKey":"tke-clusterId","TagValue":"cls-4bqctahq"},{"TagKey":"tke-createdBy-flag","TagValue":"yes"},{"TagKey":"tke-lb-serviceuuid","TagValue":"66d99ee9-ab69-4eea-b852-21e2f21c9487"}]},{"Resource":"qcs::clb:ap-singapore:uin\/100000750436:clb\/lb-h8tc4gem","Tags":[{"TagKey":"tke-clusterId","TagValue":"cls-4bqctahq"},{"TagKey":"tke-createdBy-flag","TagValue":"yes"},{"TagKey":"tke-lb-serviceuuid","TagValue":"6dea2184-5c1b-4543-b20a-51db4f3353c9"}]}],"RequestId":"9471e951-cbab-4f50-bdf5-c08663462207"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Namespace": "QCE/LB_PUBLIC", "MetricName": "TotalReq", "Period": 3600,
      "StartTime": "2022-09-18T07:07:46+00:00", "EndTime": "2022-10-18T07:07:46+00:00",
      "Instances": [{"Dimensions": [{"Name": "vip", "Value": "43.134.149.139"}]},
      {"Dimensions": [{"Name": "vip", "Value": "43.134.149.189"}]}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetMonitorData
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-07-24'
    method: POST
    uri: https://monitor.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"StartTime":"2022-09-18T07:00:00+00:00","EndTime":"2022-10-18T07:00:00+00:00","Period":3600,"MetricName":"TotalReq","DataPoints":[{"Dimensions":[{"Name":"vip","Value":"43.134.149.139"}],"Timestamps":[],"Values":[]},{"Dimensions":[{"Name":"vip","Value":"43.134.149.189"}],"Timestamps":[1663484400,1663488000,1663491600,1663495200,1663498800,1663502400,1663506000,1663509600,1663513200,1663516800,1663520400,1663524000,1663527600,1663531200,1663534800,1663538400,1663542000,1663545600,1663549200,1663552800,1663556400,1663560000,1663563600,1663567200,1663570800,1663574400,1663578000,1663581600,1663585200,1663588800,1663592400,1663596000,1663599600,1663603200,1663606800,1663610400,1663614000,1663617600,16636212[...]
- request:
    body: '{"Namespace": "QCE/LB_PUBLIC", "MetricName": "TotalReq", "Period": 3600,
      "StartTime": "2022-09-18T07:07:46+00:00", "EndTime": "2022-10-18T07:07:46+00:00",
      "Instances": [{"Dimensions": [{"Name": "vip", "Value": "43.134.151.61"}]}, {"Dimensions":
      [{"Name": "vip", "Value": "101.33.51.229"}]}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetMonitorData
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-07-24'
    method: POST
    uri: https://monitor.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"StartTime":"2022-09-18T07:00:00+00:00","EndTime":"2022-10-18T07:00:00+00:00","Period":3600,"MetricName":"TotalReq","DataPoints":[{"Dimensions":[{"Name":"vip","Value":"43.134.151.61"}],"Timestamps":[],"Values":[]},{"Dimensions":[{"Name":"vip","Value":"101.33.51.229"}],"Timestamps":[],"Values":[]}],"RequestId":"73acf3b0-6090-4821-93c6-fc2bbdbf86b6","Msg":""}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"Namespace": "QCE/LB_PRIVATE", "MetricName": "TotalReq", "Period": 3600,
      "StartTime": "2022-09-18T07:07:46+00:00", "EndTime": "2022-10-18T07:07:46+00:00",
      "Instances": [{"Dimensions": [{"Name": "vip", "Value": "10.0.1.10"}, {"Name":
      "vpcId", "Value": "vpc-aik1957f"}]}, {"Dimensions": [{"Name": "vip", "Value":
      "172.22.32.16"}, {"Name": "vpcId", "Value": "vpc-3aajxqgr"}]}]}'
    headers:
      Content-Type:
      - application/json
      X-TC-Action:
      - GetMonitorData
      X-TC-Region:
      - ap-singapore
      X-TC-Version:
      - '2018-07-24'
    method: POST
    uri: https://monitor.ap-singapore.tencentcloudapi.com/
  response:
    body:
      string: '{"Response":{"StartTime":"2022-09-18T07:00:00+00:00","EndTime":"2022-10-18T07:00:00+00:00","Period":3600,"MetricName":"TotalReq","DataPoints":[{"Dimensions":[{"Name":"vip","Value":"10.0.1.10"},{"Name":"vpcId","Value":"vpc-aik1957f"}],"Timestamps":[],"Values":[]},{"Dimensions":[{"Name":"vip","Value":"172.22.32.16"},{"Name":"vpcId","Value":"vpc-3aajxqgr"}],"Timestamps":[],"Values":[]}],"RequestId":"b2ce1a36-d9ff-46d7-9d1c-5f26da339729","Msg":""}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
