interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED
    method: GET
    uri: https://scngbcm-lzb91549.snowflakecomputing.com/api/v2/warehouses
  response:
    body:
      string: "[ {\n  \"name\" : \"COMPUTE_WH\",\n  \"warehouse_type\" : \"STANDARD\",\n
        \ \"warehouse_size\" : \"X-Small\",\n  \"wait_for_completion\" : null,\n  \"max_cluster_count\"
        : 1,\n  \"min_cluster_count\" : 1,\n  \"scaling_policy\" : \"STANDARD\",\n
        \ \"auto_suspend\" : 30,\n  \"auto_resume\" : \"true\",\n  \"initially_suspended\"
        : null,\n  \"resource_monitor\" : null,\n  \"comment\" : null,\n  \"enable_query_acceleration\"
        : \"false\",\n  \"query_acceleration_max_scale_factor\" : 8,\n  \"max_concurrency_level\"
        : 8,\n  \"statement_queued_timeout_in_seconds\" : 0,\n  \"statement_timeout_in_seconds\"
        : 172800,\n  \"type\" : \"STANDARD\",\n  \"size\" : \"X-Small\",\n  \"state\"
        : \"SUSPENDED\",\n  \"started_clusters\" : 0,\n  \"running\" : 0,\n  \"queued\"
        : 0,\n  \"is_default\" : true,\n  \"is_current\" : true,\n  \"available\"
        : \"\",\n  \"provisioning\" : \"\",\n  \"quiescing\" : \"\",\n  \"other\"
        : \"\",\n  \"created_on\" : \"1970-01-21T07:18:56.734+00:00\",\n  \"resumed_on\"
        : \"1970-01-21T07:44:51.646+00:00\",\n  \"updated_on\" : \"1970-01-21T07:44:51.646+00:00\",\n
        \ \"owner\" : \"ACCOUNTADMIN\",\n  \"budget\" : null,\n  \"kind\" : null,\n
        \ \"owner_role_type\" : \"ROLE\",\n  \"warehouse_credit_limit\" : null,\n
        \ \"target_statement_size\" : null\n}, {\n  \"name\" : \"MY_WH\",\n  \"warehouse_type\"
        : \"STANDARD\",\n  \"warehouse_size\" : \"Small\",\n  \"wait_for_completion\"
        : null,\n  \"max_cluster_count\" : 1,\n  \"min_cluster_count\" : 1,\n  \"scaling_policy\"
        : \"STANDARD\",\n  \"auto_suspend\" : 30,\n  \"auto_resume\" : \"true\",\n
        \ \"initially_suspended\" : null,\n  \"resource_monitor\" : null,\n  \"comment\"
        : null,\n  \"enable_query_acceleration\" : \"false\",\n  \"query_acceleration[...]
